[Desktop Entry]
Type=Application
Name=Delfin
Comment=Stream movies and TV shows from Jellyfin
Icon=cafe.avery.Delfin
#Exec=delfin
Exec=env _portableConfig=cafe.avery.Delfin portable --
Categories=AudioVideo;Video;Player;TV;GTK;GNOME