[Desktop Entry]
Exec=/opt/visual-studio-code-insiders/code-insiders %f
Icon=visual-studio-code-insiders
Terminal=false
Type=Application
Name=Visual Studio Code Insiders
Comment=Editor for building and debugging modern web and cloud applications
Categories=Development;WebDevelopment;IDE;Utility;TextEditor;
MimeType=text/plain;inode/directory;
StartupNotify=true
StartupWMClass=code - insiders
