[Desktop Entry]
Name=Visual Studio Code Insiders - URL Handler
Comment=Editor for building and debugging modern web and cloud applications
GenericName=Text Editor
Exec=/opt/visual-studio-code-insiders/code-insiders --open-url %U
Icon=visual-studio-code-insiders
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Development;WebDevelopment;IDE;Utility;TextEditor;
MimeType=x-scheme-handler/vscode-insiders
Keywords=vscode;
