[Desktop Entry]
Name=ChineseChess
Exec="/usr/bin/ChineseChess" %U
Terminal=false
Type=Application
Icon=chinesechess
StartupWMClass=Chinese Chess
Comment=Cross-platform and online battle platform game based on Qt: Chinese Chess. Also known as:"Xiangqi" "中国象棋"
Categories=Game;
