[Desktop Entry]
Encoding=UTF-8
Name=Zed
Comment=Zed Editor
GenericName=zed
Exec=zed
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/zed-git/Zed.svg
Categories=Editor;
X-Desktop-File-Install-Version=1.3.13
