[Desktop Entry]
Name=Postman
Comment=Build, test, and document your APIs faster
Exec=/bin/postman %U
Icon=postman
Type=Application
StartupNotify=true
Categories=Development;Utility;
StartupWMClass=Postman
MimeType=x-scheme-handler/postman
