[Desktop Entry]
Type=Application
Name=Stability Matrix
Icon=zone.lykos.stabilitymatrix
Comment=Package and checkpoint manager for Stable Diffusion.
Exec=/opt/stabilitymatrix/StabilityMatrix.Avalonia
TryExec=/opt/stabilitymatrix/StabilityMatrix.Avalonia
NoDisplay=false
X-AppImage-Integrate=true
Terminal=false
Categories=Utility;
MimeType=
Keywords=