[Desktop Entry]
Type=Application
Version=5.3.4-git
Name=Ferdi
Comment=A free messaging app for services like WhatsApp, Slack, Messenger and many more.
Icon=ferdi
Exec=/usr/bin/ferdi %U
Terminal=false
Categories=Network;InstantMessaging;
