[Unit]
Description=Revive unavailable songs for Netease Cloud Music
After=network.target

[Service]
User=unblockneteasemusic
ExecStart=/usr/bin/unblockneteasemusic $UNM_ARGS

[Install]
WantedBy=multi-user.target
