[Desktop Entry]
Type=Application
Name=Tor Messenger
GenericName=Instant Messenger
Comment=Tor Messenger is +1 for privacy and -1 for mass surveillance
Categories=Network;Chat;Security;
Exec=/usr/bin/tor-messenger
Icon=/usr/share/pixmaps/tor-messenger.png
