[Desktop Entry]
Name=Oni
GenericName=Text Editor
Comment=An IDE powered by Neovim
Exec=oni %F
TryExec=oni
Terminal=false
Type=Application
MimeType=text/english;text/plain;text/markdown;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/x-ruby;text/x-python;
Icon=oni
Categories=Utility;TextEditor;
Keywords=Text;Editor;Neovim
StartupNotify=false
