[Desktop Entry]
Encoding=UTF-8
Name=7-Zip FM
GenericName=7-Zip File Manager
Type=Application
Categories=GTK;Utility;Archiving;Compression;
Terminal=false
Icon=p7zip
Exec=7zFM
