[Desktop Entry]
Encoding=UTF-8
Name=Lugaru
Exec=lugaru
Icon=/usr/share/pixmaps/Lugaru.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Game
