[Desktop Entry]
Version=OTD_VERSION
Name=OpenTabletDriver
Exec=/usr/bin/otd-gui
Icon=otd
Terminal=false
Type=Application
StartupNotify=true
Categories=Accessories;
X-Desktop-File-Install-Version=0.15
