[Desktop Entry]
Name=Nightly
GenericName=Web Browser
Comment=Browse the World Wide Web
Exec=firefox-nightly %u
Terminal=false
Type=Application
Icon=firefox-nightly
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupNotify=false
StartupWMClass=Firefox
Actions=NewTab;NewWindow;NewPrivateWindow;

[Desktop Action NewTab]
Name=打开新标签页
Exec=firefox-nightly -new-tab about:newtab

[Desktop Action NewWindow]
Name=打开新窗口
Exec=firefox-nightly -new-window

[Desktop Action NewPrivateWindow]
Name=新建隐私浏览窗口
Exec=firefox-nightly -private-window
