[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Waylyrics

# A comment which can/will be used as a tooltip
Comment=Simple on screen lyrics for MPRIS-friendly players

# The executable of the application, possibly with arguments.
Exec=/usr/bin/waylyrics-launch

# The name of the icon that will be used to display this entry
# Icon=jmemorize

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Audio;AudioVideo;Gtk;
