[Unit]
Description=Hysteria Server Service
Documentation=https://hysteria.network/
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/hysteria server --config /etc/hysteria/%i.yaml --disable-update-check
WorkingDirectory=/var/lib/hysteria
User=hysteria
Group=hysteria
Environment=HYSTERIA_LOG_LEVEL=info
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
