[Unit]
Description=Hysteria Client Service
Documentation=https://hysteria.network/
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/hysteria client --config %i.yaml --disable-update-check
WorkingDirectory=/etc/hysteria
User=hysteria
Group=hysteria
Environment=HYSTERIA_LOG_LEVEL=info
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
