[Unit]
Description=Shadowsocks-Libev Client Service Tunnel Mode
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/ss-tunnel -c /etc/shadowsocks/%i.json

[Install]
WantedBy=multi-user.target

