[Unit]
Description=VirtualBox Guest Service
ConditionVirtualization=oracle
Wants=vboxdrmclient.path

[Service]
ExecStartPre=-/usr/bin/modprobe vboxguest
ExecStartPre=-/usr/bin/modprobe vboxvideo
ExecStartPre=-/usr/bin/modprobe vboxsf
ExecStart=/usr/bin/VBoxService -f

[Install]
WantedBy=multi-user.target
