[Desktop Entry]
Type=Application
Version=r28.b500462
Name=Bilibili直播弹幕库
Comment=A helper for Bilibili Live.
Path=
Exec=bilibili-live-helper --enable-transparent-visuals --disable-gpu
Terminal=false
Categories=Utility;
Icon=/usr/share/icons/hicolor/128x128/bilibili-live-helper.ico
