[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=DarkMod
GenericName=Mod based on the Thief series
Comment=
Icon=darkmod
Exec=darkmod
Terminal=false
Categories=Game;ActionGame;
