[Desktop Entry]
Type=Application
Name=JDownloader
Icon=jdownloader
TryExec=JDownloader
Exec=JDownloader
Terminal=false
Categories=Application;Network;
StartupWMClass=jd-Main
