[Desktop Entry]
Categories=Graphics;
Comment=Open .usdx files
Exec=usdview
GenericName=Universal Scene Description Viewer
Icon=openusd
Name=USD view
StartupNotify=true
Terminal=false
Type=Application
NoDisplay=true
