pkgbase = xfce-theme-blackbird
	pkgdesc = Dark Desktop Suite for Xfce.
	pkgver = 0.4
	pkgrel = 2
	url = https://github.com/shimmerproject/Blackbird
	arch = any
	license = CCPL:by-sa-3.0
	license = GPL
	depends = gtk-engine-murrine
	optdepends = elementary-xfce-icons: matching icon set; use the dark icon theme
	optdepends = gtk-engine-unico: required for gtk3 support
	source = xfce-theme-blackbird-0.4.tar.gz::https://github.com/shimmerproject/Blackbird/archive/v0.4.tar.gz
	sha256sums = ca31362254df2d336b2b090deb925f19a1dba72632ed9c7f82cf406be89ec1e6

pkgname = xfce-theme-blackbird

