[Desktop Entry]
Name=VMware Horizon Client
Comment=Connect to VMware Horizon View virtual machines
GenericName=VMware Horizon Client
Exec=vmware-view
Icon=/usr/share/pixmap/vmware-view.png
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Network;Utility;
