[Desktop Entry]
Name=Liri
Comment=Browse the Internet
Keywords=internet;browser;explore;web;
GenericName=Web Browser
Exec=liri-browser
Icon=liri-browser
Terminal=false
StartupNotify=true
Type=Application
Categories=Network;Internet;QT;QML;WebBrowser;
