---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/edlanglois/pkgbuild-hooks
    rev: v0.2.0
    hooks:
      - id: srcinfo-fixer
      - id: verify-srcinfo-checksums
default_install_hook_types: [pre-commit, commit-msg]
