#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Firefox
Name[bn]=ফায়ারফক্স
Name[eo]=Fajrovulpo
Name[fi]=Firefox
Name[pa]=ਫਾਇਰਫੋਕਸ
Name[tg]=Рӯбоҳи оташин
GenericName=Web Browser
GenericName[af]=Web Blaaier
GenericName[ar]=متصفح ويب
GenericName[az]=Veb Səyyahı
GenericName[bg]=Браузър
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[br]=Furcher ar Gwiad
GenericName[bs]=WWW Preglednik
GenericName[ca]=Fullejador web
GenericName[cs]=WWW prohlížeč
GenericName[cy]=Porydd Gwe
GenericName[da]=Browser
GenericName[de]=Web-Browser
GenericName[el]=Περιηγητής Ιστού
GenericName[eo]=TTT-legilo
GenericName[es]=Navegador web
GenericName[et]=Veebilehitseja
GenericName[eu]=Web arakatzailea
GenericName[fa]=مرورگر وب
GenericName[fi]=WWW-selain
GenericName[fo]=Alnótsfar
GenericName[fr]=Navigateur web
GenericName[gl]=Navegador Web
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hr]=Web preglednik
GenericName[hu]=Webböngésző
GenericName[is]=Vafri
GenericName[it]=Browser Web
GenericName[ja]=ウェブブラウザ
GenericName[ko]=웹 브라우저
GenericName[lo]=ເວັບບຣາວເຊີ
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Web Pārlūks
GenericName[mk]=Прелистувач на Интернет 
GenericName[mn]=Веб-Хөтөч
GenericName[nb]=Nettleser
GenericName[nds]=Nettkieker
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[nso]=Seinyakisi sa Web
GenericName[pa]=ਵੈਬ ਝਲਕਾਰਾ
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ro]=Navigator de web
GenericName[ru]=Веб-браузер
GenericName[se]=Fierpmádatlogan
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sr]=Веб претраживач
GenericName[sr@Latn]=Veb pretraživač
GenericName[ss]=Ibrawuza yeWeb 
GenericName[sv]=Webbläsare
GenericName[ta]=வலை உலாவி
GenericName[tg]=Тафсиргари вэб
GenericName[th]=เว็บบราวเซอร์
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Навігатор Тенет
GenericName[uz]=Веб-браузер
GenericName[ven]=Buronza ya Webu
GenericName[vi]=Trình duyệt Web
GenericName[wa]=Betchteu waibe
GenericName[xh]=Umkhangeli zincwadi we Web
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
GenericName[zu]=Umcingi we-Web
Exec=firefox %u
Icon=firefox
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Network;WebBrowser;
X-Ayatana-Desktop-Shortcuts=NewTab;NewWindow;PrivateBrowsing;

[NewTab Shortcut Group]
Name=Open new tab
Name[cs]=Otevřít nový panel
Name[de]=Neuen Tab öffnen
Name[el]=Άνοιγμα νέας καρτέλας
Name[es]=Abrir nueva pestaña
Name[fr]=Ouvrir un nouvel onglet
Name[it]=Apri una nuova scheda
Name[id]=Buka tab baru
Name[ka]=ახალი ჩანართის გახსნა
Name[nl]=Open nieuw tabblad
Name[pl]=Otwórz nowe okno
Name[pt]=Abrir novo separador
Name[ru]=Открыть новую вкладку
Name[sk]=Otvoriť novú kartu
Name[sr]=Отвори у новом језичку
Name[sr@ijekavian]=Отвори у новом језичку
Name[sr@ijekavianlatin]=Otvori u novom jezičku
Name[sr@latin]=Otvori u novom jezičku
Name[sv]=Öppna ny flik
Name[zh_TW]=新增分頁
Name[zh_CN]=新建标签页

Exec=firefox -new-tab about:blank
TargetEnvironment=Unity

[NewWindow Shortcut Group]
Name=Open new window
Name[cs]=Otevřít nové okno
Name[de]=Neues Fenster öffnen
Name[el]=Άνοιγμα νέου παράθυρου
Name[es]=Abrir nueva ventana
Name[fr]=Ouvrir une nouvelle fenêtre
Name[it]=Apri una nuova finestra
Name[id]=Buka jendela baru
Name[ka]=ახალი ფანჯრის გახსნა
Name[nl]=Nieuw venster openen
Name[pl]=Otwórz nowe okno
Name[pt]=Abrir nova janela
Name[ru]=Открыть в новом окне
Name[sk]=Otvoriť nové okno
Name[sr]=Отвори у новом прозору
Name[sr@ijekavian]=Отвори у новом прозору
Name[sr@ijekavianlatin]=Otvori u novom prozoru
Name[sr@latin]=Otvori u novom prozoru
Name[sv]=Öppna nytt fönster
Name[zh_TW]=新增視窗
Name[zh_CN]=新建窗口
Exec=firefox -new-window about:blank
TargetEnvironment=Unity

[PrivateBrowsing Shortcut Group]
Name=Toggle private browsing
Name[zh_TW]=切換私密瀏覽
Name[zh_CN]=切换隐私浏览
Exec=firefox -private-toggle