[Desktop Entry]
Name=FreeRapid Downloader
GenericName=Download Manager
Comment=Download files from RapidShare and other file sharing archives
Exec=freerapid
StartupNotify=true
Icon=freerapid
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Network;
