[Desktop Entry]
Type=Application
Version=1.0
Name=Shattered Pixel Dungeon
Comment=Shattered fork of the popular rogue-like game
Exec=shattered-pixel-dungeon
Icon=shattered-pixel-dungeon
Terminal=false
Categories=Game;
