[Desktop Entry]
Name=ToME4
Comment=An open-source, single-player, role-playing roguelike game set in the world of Eyal.
Exec=/usr/bin/tome4
Icon=tome4.png
Terminal=false
Type=Application
Categories=Game;RolePlaying;
