[Desktop Entry]
Name=Element
Comment=Feature-rich client for Matrix, sandboxed by portable
Exec=env _portableConfig="io.element.Element" portable -- %u
Terminal=false
Type=Application
Icon=io.element.Element
StartupWMClass=Element
Categories=Network;InstantMessaging;Chat;IRCClient
MimeType=x-scheme-handler/element;x-scheme-handler/io.element.desktop;
