### This file is part of
### ========================================================
###          LyX, The Document Processor
###
###          Copyright 1995 Matthias Ettrich
###          Copyright 1995-2011 The LyX Team.
###
### ========================================================

# The file lyxrc.dist gives initial global options for all LyX users.
# Almost all settings here can be overridden through the preferences in LyX.

\thesaurusdir_path "/usr/share/mythes"
\hunspelldir_path "/usr/share/myspell"
