.*
/*/*/
!.travis.yml
!.git*
!.github/**
!.lilaclib.py
lilaclib.py
pkg/
src/
*.xz
*.sig
*.asc
*.bz2
*.gz
*.zip
*.log
*.gem
*.tgz
*.tar
*.tar.*
*.deb
*.rpm
*.jar
*.html
trunk/
*~
*.sw?
*.kate-swp
*.orig
*.run
old_ver.txt
new_ver.txt
linux.install.pkg
.vscode/
*.7z
*.xpi
*.bin
*.exe
*.ttf
__pycache__/
