[Unit]
Description=HTTP based time synchronization tool
Documentation=man:htpdate
After=network.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/htpdate.pid
EnvironmentFile=/etc/default/htpdate
ExecStart=/usr/bin/htpdate $HTP_OPTIONS $HTP_PROXY -i /run/htpdate.pid $HTP_SERVERS
ExecReload=/bin/kill -HUP $MAINPID
# Security
InaccessibleDirectories=/boot /home /media /mnt /root /opt /srv
PrivateTmp=yes
ReadOnlyDirectories=/etc /usr /var
ReadWriteDirectories=/var/run

[Install]
WantedBy=multi-user.target
