[Unit]
Description=isatap daemon
After=network.target

[Service]
Type=oneshot
ExecStart= /usr/sbin/isatapd --router "isatap.tsinghua.edu.cn"  --daemon --pid "/var/run/isatapd.pid" --quiet
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
