[Desktop Entry]
Exec=env WINEDEBUG=-all wechat --dir
Icon=wechat
Name=Wine WeChat Directory
Name[zh_CN]=Wine 微信目录
Comment=Open the directory for Wine WeChat
Comment[zh_CN]=打开 Wine 微信使用的 Wine 环境目录 
NoDisplay=false
StartupNotify=true
Terminal=0
Type=Application
Categories=Settings;System;
Keywords=wx;wechat;weixin
