[Desktop Entry]
Version=1.0
Name=Mark Mind
Exec=mark-mind %U
Terminal=false
Type=Application
Icon=mind
StartupWMClass=Mark Mind
Comment=an mind map and outliner software
Categories=Education;Construction;
