[Unit]
Description=Decentralized websites using Bitcoin crypto and the BitTorrent network

[Service]
User=zeronet
Group=zeronet
WorkingDirectory=/opt/zeronet
ExecStart=/usr/bin/env python2 zeronet.py --config_file /etc/zeronet.conf
Restart=on-failure

[Install]
WantedBy=default.target
