[Unit]
Description=Decentralized websites using Bitcoin crypto and the BitTorrent network

[Service]
User=zeronet
Group=zeronet
WorkingDirectory=/opt/zeronet
StandardOutput=/dev/null
StandardError=/dev/null
ExecStart=/opt/zeronet/zeronet.py --config_file /etc/zeronet.conf
Restart=on-failure

[Install]
WantedBy=default.target
