[Desktop Entry]
Name=Motrix
Comment=A full-featured download manager. 
Keywords=
Exec=motrix &U
TryExec=
Terminal=false
Icon=/usr/share/icons/motrix.png
Type=Application
StartupNotify=false
Categories=Network;FileTransfer;
