[Desktop Entry]
Type=Application
Name=FeelUOwn
Comment=FeelUOwn Launcher
Exec=python3 -m feeluown --log-to-file
Icon=feeluown
Categories=AudioVideo;Audio;Player;Qt;
Terminal=false
StartupNotify=true
