[Unit]
Description=BadVPN Network Configuration Daemon
After=syslog.target

[Service]
Type=simple
Environment="NCD_CONFIG=/etc/ncd.conf"
EnvironmentFile=-/etc/conf.d/badvpn-ncd
ExecStart=/usr/bin/badvpn-ncd $NCD_ARGS --config-file $NCD_CONFIG

[Install]
WantedBy=network.target
