pkgbase = gnome-shell-extension-topicons-plus-git
	pkgdesc = Shows legacy tray icons on top.
	pkgver = 19.r0.g7cd6989
	pkgrel = 1
	url = https://extensions.gnome.org/extension/1031/topicons/
	arch = any
	groups = gnome-shell-extensions
	license = GPL
	makedepends = git
	depends = gnome-shell
	provides = gnome-shell-extension-topicons-plus
	conflicts = gnome-shell-extension-topicons-plus
	source = git+https://github.com/phocean/TopIcons.git
	sha256sums = SKIP

pkgname = gnome-shell-extension-topicons-plus-git

