[Unit]
Description=Tell Plymouth To Write Out Runtime Data
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target
ConditionPathExists=!/etc/initrd-release

[Service]
ExecStart=-/usr/bin/plymouth update-root-fs --read-write
Type=oneshot
RemainAfterExit=true
