[Desktop Entry]
Version=1.0
Type=Application
Name=Zulip
Comment=Real-time team chat based on the email threading model
Exec=zulip
Icon=zulip
Categories=Network;InstantMessaging;
Terminal=false
