[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=amulet_map_editor
Name=Amulet Map Editor
Comment=A Minecraft world editor
Icon=amulet
StartupWMClass=amulet_map_editor