[Desktop Entry]
Name=Electron-SSR
Comment=Cross platform ShadowsocksR GUI client built with electron
Exec=electron-ssr %U
Terminal=false
Type=Application
Icon=electron-ssr
Categories=Network;
MimeType=x-scheme-handler/ss;x-scheme-handler/ssr;
