[Desktop Entry]
Name=SideQuest
Comment=A tool to help simplify getting content onto Quest and Go and other VR headsets.
Exec=sidequest %u
Terminal=false
Type=Application
Icon=sidequest
Categories=Development;Game;HardwareSettings
StartupWMClass=SideQuest
MimeType=x-scheme-handler/sidequest;
