pkgbase = pacnew-auto-git
	pkgdesc = Automatic pacman pacnew file merging using git rebase
	pkgver = r3.2b27b54
	pkgrel = 1
	url = https://github.com/joanrieu/pacnew-auto
	arch = any
	license = MIT
	depends = git
	source = git+https://github.com/joanrieu/pacnew-auto
	md5sums = SKIP

pkgname = pacnew-auto-git

