[Desktop Entry]
Name=WordBiz
Comment=Internet Scrabble Club client
Exec=wordbiz
Type=Application
StartupNotify=true
Icon=/opt/WordBiz/image/icon.gif
Categories=Game
