[Desktop Entry]
Exec=env WINEDEBUG=-all wechat
Icon=wechat
Name=Wine WeChat
Name[zh_CN]=Wine 微信
Comment=Run WeChat with Wine
Comment[zh_CN]=使用 Wine 运行微信
NoDisplay=false
StartupWMClass=wechat.exe
Terminal=0
Type=Application
Categories=Network;InstantMessaging;
Keywords=wx;wechat;weixin
Actions=configure;directory;

[Desktop Action configure]
Exec=env WINEDEBUG=-all wechat --config
Name=Configure Wine prefix
Name[zh_CN]=配置 Wine 环境

[Desktop Action directory]
Exec=env WINEDEBUG=-all wechat --dir
Name=Open Wine prefix directory
Name[zh_CN]=打开 Wine 环境目录
