[Desktop Entry]
Exec=env WINEDEBUG=-all wechat
Icon=wechat
Name=Wine WeChat
Name[zh_CN]=Wine 微信
Comment=Run WeChat with Wine
Comment[zh_CN]=使用 Wine 运行微信
NoDisplay=false
StartupNotify=true
Terminal=0
Type=Application
Categories=Network;InstantMessaging;
Keywords=wx;wechat;weixin
