[Desktop Entry]
Name=WeChat Devtools
Name[zh_CN]=微信web开发者工具
Comment=The development tools for wechat web develop
Categories=Development;WebDevelopment;IDE;
Exec=env APPDATA=/opt/wechat-devtools/ /opt/wechat-devtools/nw -load-extension=./package.nw/js/ideplugin %U
Path=/opt/wechat-devtools
Icon=wechat-devtools
Type=Application
Terminal=false
StartupWMClass=nwjs_mbeenbnhnmdhkbicabncjghgnikfbgjh
MimeType=x-scheme-handler/wechatide
