[Desktop Entry]
Type=Application
Version=1.0
Name=Powder Toy
NoDisplay=true
Comment=Physics sandbox game
Icon=powder-toy
Exec=powder-toy ptsave %u
Terminal=false
MimeType=x-scheme-handler/ptsave;
Categories=Game;Simulation;
StartupNotify=false
