
[Desktop Entry]
Type=Application
Version=94.1
Encoding=UTF-8
Name=Powder Toy
Comment=A physics simulation game.
Exec=powder-toy
Icon=powder-toy
Terminal=false
StartupNotify=false
Categories=Game;
