[Desktop Entry]
Name=JetBrains Java 21 Runtime
Name[fi]=JetBrains Java 21 - ajonaikainen ympäristö
Comment=JetBrains Java 21 Runtime
Comment[fi]=JetBrains Java 21 - ajonaikainen ympäristö
Keywords=java;runtime
Exec=/usr/lib/jvm/java-21-jetbrains/bin/java -jar
Terminal=false
Type=Application
Icon=java21-jetbrains
MimeType=application/x-java-archive;application/java-archive;application/x-jar;
NoDisplay=true
