[Desktop Entry]
Name=JetBrains Java 21 Console
Name[fi]=JetBrains Java 21 - konsoli
Comment=JetBrains Java 21 Monitoring & Management Console
Comment[fi]=JetBrains Java 21 - valvonta- ja hallintakonsoli
Keywords=java;console;monitoring
Exec=/usr/lib/jvm/java-21-jetbrains/bin/jconsole
Terminal=false
Type=Application
Icon=java21-jetbrains
Categories=Application;System;
