[Desktop Entry]
Name=JetBrains Java 21 Shell
Comment=JetBrains Java 21 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-21-jetbrains/bin/jshell
Terminal=true
Type=Application
Icon=java21-jetbrains
Categories=Application;System;
