[Desktop Entry]
Type=Application
Version=1.0
Name=Vita3K
GenericName=PlayStation Vita Emulator
Comment=Experimental PlayStation Vita emulator
Categories=Game;Emulator;
Icon=vita3k
Exec=vita3k
Terminal=false
