[Unit]
Description=/etc/rc.local Compatibility
ConditionFileIsExecutable=/etc/rc.local

[Service]
Type=idle
ExecStart=/etc/rc.local
TimeoutSec=0

[Install]
WantedBy=multi-user.target
