[Desktop Entry]
Name=NixNote2
Comment=Use with Evernote to remember everything
GenericName=Evernote-clone
Exec=env "LD_PRELOAD=libcurl.so.3" /usr/bin/nixnote2
Icon=/usr/share/nixnote2/images/windowIcon.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;
MimeType=x-scheme-handler/evernote;

Actions=NewNote;
[Desktop Action NewNote]
Name=New Note
Exec=env "LD_PRELOAD=libcurl.so.3" /usr/bin/nixnote2 --newNote
OnlyShowIn=Unity;
