[Desktop Entry]
Type=Application
Version=1.0
Name=Genymotion Player
Comment=Virtual environment for Android.
Exec=/usr/bin/genymotion-player
Icon=genymotion-player
Terminal=false
Categories=Development;
StartupWMClass=Genymotion Player
