[Desktop Entry]
Version=1.0
Type=Application
Name=Genymotion Player
Icon=genymotion-player
NoDisplay=true
Categories=System-Tools;
StartupWMClass=Genymotion Player
StartupNotify=false
Terminal=false