[Desktop Entry]
Name=Minecraft
GenericName=Minecraft
Comment=A game about placing blocks while running from skeletons.
Exec=minecraft
Icon=minecraft
Terminal=false
Type=Application
Categories=Game;
