pkgbase = nut-multimedia-git
	pkgdesc = Free multimedia container format. (Git Version)
	pkgver = 20140619.383658f
	pkgrel = 1
	url = http://wiki.multimedia.cx/index.php?title=NUT
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	depends = glibc
	provides = nut-multimedia
	provides = libnut
	conflicts = nut-multimedia
	conflicts = libnut-git
	source = git://git.ffmpeg.org/nut.git
	sha1sums = SKIP

pkgname = nut-multimedia-git

