[Desktop Entry]
Version=1.0
Type=Application
Name=Mindustry (Git)
Comment=A pixelated sandbox tower defense game
Exec=mindustry
Icon=/usr/share/pixmaps/mindustry.png
Categories=Game;
Terminal=false
