[Desktop Entry]
Version=1.0
Name=rxvt-unicode
Comment=An Unicode capable rxvt clone
Exec=urxvt
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
