pkgbase = icecat
	pkgdesc = GNU version of the Firefox browser.
	pkgver = 60.3.0
	pkgrel = 1
	url = http://www.gnu.org/software/gnuzilla/
	arch = i686
	arch = x86_64
	license = GPL
	license = MPL
	license = LGPL
	makedepends = unzip
	makedepends = zip
	makedepends = diffutils
	makedepends = python2
	makedepends = yasm
	makedepends = mesa
	makedepends = imake
	makedepends = autoconf2.13
	makedepends = libpulse
	makedepends = gst-plugins-base-libs
	makedepends = inetutils
	makedepends = rust
	makedepends = llvm
	depends = gtk3
	depends = gtk2
	depends = mozilla-common
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus-glib
	depends = alsa-lib
	depends = ffmpeg
	depends = libvpx
	depends = icu
	depends = libevent
	depends = nss
	depends = hunspell
	depends = sqlite
	depends = ttf-font
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = libnotify: Notification integration
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	source = https://ftp.gnu.org/gnu/gnuzilla/60.3.0/icecat-60.3.0-gnu1.tar.bz2
	source = https://ftp.gnu.org/gnu/gnuzilla/60.3.0/icecat-60.3.0-gnu1.tar.bz2.sig
	source = icecat.desktop
	source = icecat-safe.desktop
	validpgpkeys = A57369A8BABC2542B5A0368C3C76EED7D7E04784
	sha256sums = 6145327092b4b195a4f63d0e86f4857eeba5607ffeb69b6f3bceb36e89a19645
	sha256sums = SKIP
	sha256sums = c44eab35f71dd3028a74632463710d674b2e8a0682e5e887535e3233a3b7bbb3
	sha256sums = 190577ad917bccfc89a9bcafbc331521f551b6f54e190bb6216eada48dcb1303

pkgname = icecat

