[Desktop Entry]
Name=R-devel
GenericName=environment for statistical computing - development version
Comment=language and environment for statistical computing and graphics - development version
Exec=R-devel
Icon=/usr/share/pixmaps/r-devel.png
DocPath=/usr/lib/R-devel/doc/html/index.html
StartupNotify=true
Terminal=true
Type=Application
Categories=Education;Science;Math;
