[Unit]
Description=Socket for uWSGI %I (x32 ABI)

[Socket]
# Change this to your uwsgi application port or unix socket location
ListenStream=/run/uwsgi/%I.sock

[Install]
WantedBy=sockets.target
