#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Signal (Tray)
GenericName=Messenger (tray mode)
Comment=Signal Private Messenger (Start in Tray)
Icon=signal
Exec=signal-desktop --start-in-tray
Categories=Network;Messenger;
StartupNotify=false

