# Maintainer: lilydjwg <lilydjwg@gmail.com>
{% autoescape None %}
pkgname=(rust-nightly
         rustfmt-nightly
         cargo-nightly
         rust-clippy-nightly
         rust-src-nightly
         rust-docs-nightly{% for x in stds %}
         {{ x.name }}{% end %}
        )
pkgver={{version + '_' + version_date}}
pkgrel=1
epoch=4
pkgdesc="A safe, concurrent, practical language from Mozilla (nightly version)"
arch=('i686' 'x86_64')
url="https://www.rust-lang.org/"
license=('MIT' 'Apache')
validpgpkeys=('108F66205EAEB0AAA8DD5E1C85AB96E6FA1BE5FE')
makedepends=('git')
source=(
        'https://static.rust-lang.org/dist/{{version_date_raw}}/rust-nightly-x86_64-unknown-linux-gnu.tar.xz'
        'https://static.rust-lang.org/dist/{{version_date_raw}}/rust-nightly-x86_64-unknown-linux-gnu.tar.xz.asc'
        'https://static.rust-lang.org/dist/{{version_date_raw}}/rust-src-nightly.tar.xz'
        'https://static.rust-lang.org/dist/{{version_date_raw}}/rust-src-nightly.tar.xz.asc'
        '{{ clippy_url }}'
        '{{ clippy_url }}.asc'
{% for x in stds %}
        {{ "'%s'" % x.url }}
        {{ "'%s.asc'" % x.url }}{% end %}
        'git://github.com/rust-lang/zsh-config')
sha512sums=({% for _ in range(7 + len(stds) * 2) %}
            'SKIP'{% end %})

build() {
  true
}

package_rust-nightly() {
  depends=("rust-std-nightly-$CARCH-unknown-linux-gnu=$epoch:$pkgver")
  optdepends=('rust-docs-nightly: language and API documentation'
              'rust-src-nightly: source code'
              'vim-rust-git: support for Vim'
{% for x in stds %}
              {{ "'%s: cross compile for %s'" % (x.name, x.target) }}{% end %}
              'cargo-nightly: Rust package manager')
  provides=(rust={{version}})
  conflicts=(rust)
  options=(staticlibs)

  install -Dm644 "$srcdir"/zsh-config/_rust "$pkgdir/usr/share/zsh/site-functions/_rust"

  cd rust-nightly-$CARCH-unknown-linux-gnu
  ./install.sh --destdir="$pkgdir" --prefix=/usr --disable-ldconfig --components=rustc
  rm "$pkgdir"/usr/lib/rustlib/{components,manifest-*,rust-installer-version,install.log,uninstall.sh}

  rm -r "$pkgdir/usr/share/doc"
  cd "$pkgdir"/usr/lib
  for so in *.so; do
    if [[ $so != libstd-* && $so != libtest-* ]]; then
      continue
    fi
    rm $so
    ln -s rustlib/"$CARCH"-unknown-linux-gnu/lib/$so .
  done
}

package_rust-docs-nightly() {
  pkgdesc="A safe, concurrent, practical language from Mozilla. (Language and API documentation, for nightly version)"
  arch=('any')
  optdepends=('rust-nightly: to compile and run the programs you can write using this documentation')
  provides=('rust-doc={{version}}')
  conflicts=('rust-doc')

  cd rust-nightly-$CARCH-unknown-linux-gnu/rust-docs
  mkdir -p "$pkgdir/usr"
  cp -r share "$pkgdir/usr"
}

package_rustfmt-nightly() {
  pkgdesc="A safe, concurrent, practical language from Mozilla. (rustfmt formatter, for nightly version)"
  provides=('rustfmt={{rustfmt_version}}')
  conflicts=('rustup')

  cd rust-nightly-$CARCH-unknown-linux-gnu/rustfmt-preview
  mkdir -p "$pkgdir/usr"
  cp -r bin "$pkgdir/usr"
}

package_rust-clippy-nightly() {
  pkgdesc="A collection of lints to catch common mistakes and improve your Rust code (nightly version)"
  provides=('rust-clippy={{clippy_version}}')
  conflicts=('rustup')
  depends=("rust-nightly=$epoch:$pkgver")

  cd rust-nightly-$CARCH-unknown-linux-gnu/clippy-preview
  mkdir -p "$pkgdir/usr"
  cp -r bin "$pkgdir/usr"
}

package_cargo-nightly() {
  pkgdesc="Rust package manager (nightly version)"
  provides=('cargo={{cargo_version}}')
  conflicts=('rustup')

  cd rust-nightly-$CARCH-unknown-linux-gnu/cargo
  mkdir -p "$pkgdir/usr"
  cp -r bin etc share "$pkgdir/usr"
}

package_rust-src-nightly() {
  pkgdesc="A safe, concurrent, practical language from Mozilla. (Source code, for nightly version)"
  arch=('any')
  optdepends=('rust-nightly')
  provides=('rust-src={{version}}')
  conflicts=('rust-src')

  cd rust-src-nightly/rust-src
  mkdir -p "$pkgdir/usr"
  cp -r lib "$pkgdir/usr"
}

{% for x in stds %}
package_{{x.name}}(){
  pkgdesc="A safe, concurrent, practical language from Mozilla. (standard library, for nightly version, for (cross-)compiling to and running on {{x.target}})"
  arch=('any')
  options+=('!strip')
{% if x.optdepends %}
  optdepends=({{' '.join("'%s'" % y for y in x.optdepends)}}){% end %}

  cd {{x.name}}
  chmod +x install.sh{# Windows one isn't executable #}
  sed -i 's/\r//g' install.sh{# Windows one is of CRLF-lines #}
  ./install.sh --destdir="$pkgdir" --prefix=/usr --disable-ldconfig
  rm "$pkgdir"/usr/lib/rustlib/{components,manifest-*,rust-installer-version,install.log,uninstall.sh}
  find "$pkgdir"/usr/lib -name '*.so' -exec chmod +x {} +
}
{% end %}{# vim: se ft=tornadotmpl syntax=sh.tornadotmpl: #}
