[Unit]
Description=Restart dell-bios-fan-control on resume.
After=suspend.target
Wants=dell-bios-fan-control-resume.service

[Service]
Type=simple
# FIXME: need a sleep for some reason, otherwise the service does restart but
# it has no effect.
ExecStart=/bin/sh -c '/bin/sleep 30 && /bin/systemctl --no-block restart dell-bios-fan-control.service'

[Install]
WantedBy=suspend.target
