[Unit]
Description=Swagger Editor

[Service]
User=swaggereditor
Group=swaggereditor
WorkingDirectory=/usr/share/swagger-editor
ExecStart=/usr/bin/darkhttpd /usr/share/swagger-editor --port 9898
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
