[Unit]
Description=TeamCity server
After=network.target

[Service]
EnvironmentFile=/etc/conf.d/teamcity
ExecStart=/opt/teamcity/bin/teamcity-server.sh run
ExecStop=/opt/teamcity/bin/teamcity-server.sh stop
Type=simple
PIDFile=/opt/teamcity/logs/teamcity.pid
Restart=no
TimeoutSec=30
User=teamcity

[Install]
WantedBy=multi-user.target

