[Desktop Entry]
Type=Application
Name=PCSX2
GenericName=PlayStation 2 emulator. Sandboxed by Portable.
Comment=PlayStation 2 emulator. Sandboxed by Portable.
TryExec=portable
Exec=env _portableConfig=net.pcsx2.app portable -- %f
Icon=PCSX2
Terminal=false
StartupNotify=true
StartupWMClass=pcsx2
Categories=Game;Emulator