[Unit]
Description=realm
Wants=network.target
After=network-online.target

[Service]
Type=exec
ExecStart=/usr/bin/realm -c /etc/realm/%i.json

[Install]
WantedBy=multi-user.target