[Desktop Entry]
Comment=
Exec=electronic-wechat-uos-bin
GenericName=A better WeChat on Linux.
Icon=/opt/electronic-wechat-uos-bin/electronic-wechat-uos-bin.svg
Name=Electronic Wechat (UOS)
Categories=Utility;
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Keywords=wechat;weixin;electronic;
StartupWMClass=electronic-wechat
