[Desktop Entry]
Type=Application
Name=Typstwriter
Comment=An integrated editor for the typst typesetting system
Icon=typstwriter
Exec=typstwriter
Categories=Office;
