[Desktop Entry]
Categories=Development;
Comment=A Clash GUI based on tauri.
Exec=clash-verge
Icon=clash-verge
Name=Clash Verge
Terminal=false
Type=Application
