[Desktop Entry]
Name[af]=Web
Name[an]=Web
Name[ar]=الوب
Name[as]=ৱেব
Name[be]=Сеціва
Name[be@latin]=Sieciva
Name[bg]=Уеб
Name[bs]=Web
Name[ca]=Web
Name[ca@valencia]=Web
Name[cs]=Web
Name[da]=Web
Name[de]=Web
Name[el]=Ιστός
Name[en_GB]=Web
Name[eo]=Reto
Name[es]=Web
Name[et]=Veeb
Name[eu]=Weba
Name[fa]=وب
Name[fi]=Verkko
Name[fr]=Web
Name[fur]=Web
Name[fy]=Web
Name[ga]=Gréasán
Name[gl]=Web
Name[gu]=વેબ
Name[he]=דפדפן
Name[hi]=वेब
Name[hr]=Web
Name[hu]=Web
Name[ia]=Web
Name[id]=Web
Name[ie]=Web
Name[is]=Vefur
Name[it]=Web
Name[ja]=Web
Name[ka]=ვები
Name[kab]=Web
Name[kk]=Веб
Name[kn]=ಜಾಲ
Name[ko]=웹
Name[lt]=Žiniatinklis
Name[lv]=Tīmeklis
Name[ml]=വെബ്
Name[mr]=वेब
Name[ms]=Sesawang
Name[nb]=Internett
Name[ne]=वेभ
Name[nl]=Web
Name[oc]=Web
Name[or]=ୱେବ
Name[pa]=ਵੈੱਬ
Name[pl]=WWW
Name[pt]=Web
Name[pt_BR]=Web
Name[ro]=Web
Name[ru]=Веб-браузер
Name[sk]=Web
Name[sl]=Brskalnik Splet
Name[sr]=Веб
Name[sr@latin]=Veb
Name[sv]=Webb
Name[ta]=வலை
Name[te]=జాలం
Name[tg]=Веб
Name[th]=เว็บ
Name[tr]=Web
Name[ug]=تور
Name[uk]=Тенет
Name[uz]=Web
Name[uz@cyrillic]=Веб браузер
Name[vi]=Web
Name[zh_CN]=浏览器
Name[zh_HK]=網頁
Name[zh_TW]=網頁
Name=Web
GenericName[af]=Webblaaier
GenericName[an]=Navegador web
GenericName[ar]=متصفّح وب
GenericName[as]=ৱেব ব্ৰাউছাৰ
GenericName[ast]=Restolador Web
GenericName[az]=Veb Səyyahı
GenericName[be]=Вэб-браўзер
GenericName[be@latin]=Veb-braŭzier
GenericName[bg]=Интернет браузър
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[bn_IN]=ওয়েব ব্রাউজার
GenericName[br]=Furcher Web
GenericName[bs]=Web preglednik
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=Prohlížeč WWW
GenericName[cy]=Porwr Gwe
GenericName[da]=Webbrowser
GenericName[de]=Webbrowser
GenericName[dz]=ཝེབ་ བརའུ་ཟར།
GenericName[el]=Περιηγητής Ιστού
GenericName[en_CA]=Web Browser
GenericName[en_GB]=Web Browser
GenericName[en@shaw]=𐑢𐑧𐑚 𐑚𐑮𐑬𐑟𐑼
GenericName[eo]=Foliumilo
GenericName[es]=Navegador web
GenericName[et]=Veebisirvija
GenericName[eu]=Web-nabigatzailea
GenericName[fa]=مرورگر وب
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur web
GenericName[fur]=Navigadôr web
GenericName[fy]=Webblêder
GenericName[ga]=Brabhsálaí Gréasáin
GenericName[gl]=Navegador web
GenericName[gu]=વેબ બ્રાઉઝર
GenericName[gv]=Jeeagheyder Eddyr-voggyl
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hr]=Web preglednik
GenericName[hu]=Webböngésző
GenericName[hy]=Զննիչ
GenericName[ia]=Navigator web
GenericName[id]=Peramban Web
GenericName[ie]=Navigator Web
GenericName[ig]=Omenchọgharị Wéèbụ̀
GenericName[is]=Netvafri
GenericName[it]=Browser web
GenericName[ja]=Webブラウザー
GenericName[ka]=ვებ-ბრაუზერი
GenericName[kab]=Iminig n web
GenericName[kk]=Веб браузері
GenericName[km]=កម្មវិធី​រុករក​បណ្ដាញ
GenericName[kn]=ಜಾಲ ವೀಕ್ಷಕ
GenericName[ko]=웹 브라우저
GenericName[ku]=Geroka Torê
GenericName[li]=Wèb Browser
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[mai]=वेब ब्राउज़र
GenericName[mg]=Mpitety tranonkala
GenericName[mk]=Веб прелистувач
GenericName[ml]=വെബ്ബ് ബ്രൌസര്‍
GenericName[mn]=Вэб хөтөч
GenericName[mr]=वेब ब्राउझर
GenericName[ms]=Pelayar Sesawang
GenericName[nb]=Nettleser
GenericName[nds]=Netkieker
GenericName[ne]=वेब ब्राउजर
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[oc]=Navigador web
GenericName[or]=ଓ୍ବେବ ବ୍ରାଉଜର
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka WWW
GenericName[ps]=ګورت لټونی
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da web
GenericName[ro]=Navigator Internet
GenericName[ru]=Веб-браузер
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sq]=Browser web
GenericName[sr]=Веб прегледач
GenericName[sr@latin]=Veb pregledač
GenericName[sv]=Webbläsare
GenericName[ta]=இணைய உலாவி
GenericName[te]=జాల విహారిణి
GenericName[tg]=Браузери веб
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tk]=Web Ahtarçysy
GenericName[tr]=Web Tarayıcı
GenericName[ug]=توركۆرگۈ
GenericName[uk]=Навігатор тенет
GenericName[uz]=Web brauzer
GenericName[uz@cyrillic]=Веб браузер
GenericName[vi]=Bộ duyệt Web
GenericName[wa]=Betchteu waibe
GenericName[yo]=Awáròyìn Wẹ́ẹ̀bù
GenericName[zh_CN]=网络浏览器
GenericName[zh_HK]=網頁瀏覽器
GenericName[zh_TW]=網頁瀏覽器
GenericName=Web Browser
Comment[af]=Blaai deur die web
Comment[an]=Buscar en a web
Comment[ar]=تصفح الوِب
Comment[as]=ৱেব ব্ৰাউজ কৰক
Comment[ast]=Restola pela web
Comment[az]=Vebi gəzin
Comment[be]=Агляд сеціва
Comment[be@latin]=Ahlad sieciva
Comment[bg]=Сърфиране в Интернет
Comment[bn]=ওয়েব ব্রাউজ করুন
Comment[bn_IN]=ওয়েব ব্রাউজ করুন
Comment[br]=Furchal war ar genrouedad
Comment[bs]=Pretražujte web stranice
Comment[ca]=Navega per la web
Comment[ca@valencia]=Navegueu per la web
Comment[cs]=Prohlížejte si webové stránky
Comment[cy]=Pori'r we
Comment[da]=Gennemse webbet
Comment[de]=Im Internet surfen
Comment[dz]=ཝེབ་ བརྡ་འཚོལ་འབད།
Comment[el]=Περιηγηθείτε στον Ιστό
Comment[en_CA]=Browse the web
Comment[en_GB]=Browse the Web
Comment[en@shaw]=𐑚𐑮𐑬𐑟 𐑞 𐑢𐑧𐑚
Comment[eo]=Foliumi la reton
Comment[es]=Navegue por la web
Comment[et]=Veebi sirvimine
Comment[eu]=Nabigatu webean
Comment[fa]=مرور وب
Comment[fi]=Selaa verkkosivuja
Comment[fr]=Parcourir le Web
Comment[fur]=Navighe pal web
Comment[fy]=Blêdzje troch it web
Comment[ga]=Brabhsáil an gréasán
Comment[gl]=Navegar pola web
Comment[gu]=વેબમાં શોધો
Comment[gv]=Jeeagh trooid yn eddyr-voggyl
Comment[he]=גלישה ברשת
Comment[hi]=वेब ब्राउज़ करें
Comment[hr]=Pregledavanje weba
Comment[hu]=A világháló böngészése
Comment[hy]=Զննել վեբը
Comment[ia]=Naviga le web
Comment[id]=Jelajahi web
Comment[ie]=Navigar li Web
Comment[ig]=Chọgharịa na wéèbụ̀
Comment[is]=Flakka á vefnum
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ka]=ინტენეტში მუშაობა
Comment[kk]=Интернетті шолу
Comment[km]=រកមើល​បណ្ដាញ
Comment[kn]=ಜಾಲವನ್ನು ವೀಕ್ಷಿಸಿ
Comment[ko]=웹을 탐색합니다
Comment[ku]=Li torê bigere
Comment[li]=Blajere op internet
Comment[lt]=Naršyti žiniatinklį
Comment[lv]=Pārlūkot tīmekli
Comment[mai]=वेब ब्राउज़ करू
Comment[mg]=Hitety tranonkala
Comment[mk]=Прелистувајте го вебот
Comment[ml]=വെബ്ബില്‍ പരതുക
Comment[mn]=Вэб нээх
Comment[mr]=वेब चाळणे
Comment[ms]=Layari sesawang
Comment[nb]=Se på nettsider
Comment[nds]=Netkieken
Comment[ne]=वेब ब्राउज गर्नुहोस्
Comment[nl]=Surf op het web
Comment[nn]=Surf på nettet
Comment[oc]=Navigar sul Web
Comment[or]=ଓ୍ବେବକୁ ଖୋଜନ୍ତୁ
Comment[pa]=ਵੈੱਬ ਦੀ ਝਲਕ
Comment[pl]=Przeglądanie stron WWW
Comment[ps]=ګورت لټول
Comment[pt]=Navegar na web
Comment[pt_BR]=Navegue na web
Comment[ro]=Navighează în internet
Comment[ru]=Просмотр веб-страниц
Comment[sk]=Prehliadajte web
Comment[sl]=Brskajte po spletu
Comment[sq]=Eksploro web-in
Comment[sr]=Разгледајте веб странице
Comment[sr@latin]=Razgledajte veb stranice
Comment[sv]=Surfa på nätet
Comment[ta]=இணையத்தில் உலாவுதல்
Comment[te]=జాలంలో విహరించండి
Comment[tg]=Браузери веб
Comment[th]=ท่องเว็บ
Comment[tk]=Webi Ahtar
Comment[tr]=Web’e göz at
Comment[ug]=توربەت كۆرۈش پروگراممىسى
Comment[uk]=Перегляд інтернету
Comment[uz]=Vebga kiring
Comment[uz@cyrillic]=Веб браузер
Comment[vi]=Duyệt qua Web
Comment[wa]=Naivyî avå les waibes
Comment[yo]=Wáròyìn wẹ́ẹ̀bù náà
Comment[zh_CN]=浏览网络
Comment[zh_HK]=瀏覽網頁
Comment[zh_TW]=瀏覽網頁
Comment=Browse the web
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=web;browser;internet;epiphany;сеціва;сетка;браўзер;аглядальнік;аглядач;гартач;інтэрнэт;павуцінне;
Keywords[be@latin]=web;browser;internet;epiphany;sieciva;sietka;braŭzier;ahladalnik;ahladač;hartač;internet;pavucinnie;
Keywords[bg]=уеб;браузър;интернет;страница;епифани;сайт;web;browser;internet;epiphany;
Keywords[ca]=web;navegador;Internet;epiphany;
Keywords[cs]=web;www;prohlížeč;internet;epiphany;
Keywords[da]=web;browser;internet;epiphany;
Keywords[de]=Netz;Browser;Internet;Web;Epiphany;
Keywords[el]=ιστός;περιηγητής;διαδίκτυο;epiphany;web;browser;internet;epiphany;
Keywords[en_GB]=web;browser;internet;epiphany;
Keywords[eo]=reto;retumilo;foliumilo;epifanio;
Keywords[es]=web;navegador;internet;epiphany;
Keywords[eu]=weba;nabigatzailea;internet;epiphany;
Keywords[fa]=web;browser;internet;epiphany;وب;مرورگر;اینترنت;اپیفنی;
Keywords[fi]=web;browser;internet;epiphany;netti;selain;verkkoselain;
Keywords[fr]=web;navigateur;internet;epiphany;
Keywords[fur]=web;browser;navigadôr;internet;epiphany;
Keywords[gl]=web;navegador;internet;epiphany;
Keywords[he]=דפדפן;רשת;אינטרנט;מרשתת;אפיפיני;epiphany;קפןפישמט;
Keywords[hi]=वेब;ब्राउजर;इंटरनेट;एपिफेनी;
Keywords[hu]=web;böngésző;internet;epiphany;
Keywords[ia]=web;navigator;internet;epiphany;
Keywords[id]=web;peramban;internet;epiphany;
Keywords[it]=web;browser;internet;epiphany;
Keywords[ja]=web;browser;internet;epiphany;ウェブ;ブラウザー;インターネット;
Keywords[ka]=web;browser;internet;epiphany;
Keywords[kab]=web;iminig;internet;epiphany;
Keywords[kk]=web;browser;internet;epiphany;веб;браузер;интернет;
Keywords[ko]=web;웹;browser;브라우저;internet;인터넷;epiphany;에피퍼니;
Keywords[lt]=žiniatinklis;naršyklė;internetas;epiphany;
Keywords[lv]=tīmeklis;pārlūks;internets;web;epiphany;
Keywords[nb]=nett;nettleser;internett;epiphany;
Keywords[ne]=वेब; ब्राउजर; इंटरनेट; एपिफेनी;
Keywords[nl]=web;browser;internet;epiphany;surfen;
Keywords[pa]=ਵੈੱਬ;ਬਰਾਊਜ਼ਰ;ਇੰਟਰਨੈੱਟ;ਏਪੀਫ਼ਨੀ;ਬ੍ਰਾਊਜ਼ਰ;
Keywords[pl]=www;web;przeglądarka;wyszukiwarka;internet;sieć;strony;witryny;epiphany;
Keywords[pt]=web;navegador;internet;epiphany;
Keywords[pt_BR]=web;navegador;internet;epiphany;browser;
Keywords[ro]=web;browser;internet;navigator;epiphany;
Keywords[ru]=веб;браузер;интернет;web;browser;internet;epiphany;
Keywords[sk]=web;prehliadač;internet;epiphany;
Keywords[sl]=web;browser;internet;epiphany;brskalnik;splet;internet;medmrežje;firefox;chrome;
Keywords[sr]=веб;прегледник;прегледач;интернет;браузер;епифани;спознаја;veb;preglednik;pregledač;internet;brauzer;epifani;spoznaja;web;internet;browser;epiphany
Keywords[sr@latin]=veb;preglednik;pregledač;internet;brauzer;epifani;spoznaja;veb;preglednik;pregledač;internet;brauzer;epifani;spoznaja;web;internet;browser;epiphany
Keywords[sv]=webb;webbläsare;internet;nätet;epiphany;
Keywords[th]=เว็บ;เบราว์เซอร์;อินเทอร์เน็ต;epiphany;
Keywords[tr]=web;browser;internet;epiphany;ağ;tarayıcı;
Keywords[uk]=веб;інтернет;тенет;переглядач;бравзер;епіфані;web;browser;internet;epiphany;
Keywords[uz]=web;veb;browser;brauzer;internet;epiphany;
Keywords[zh_CN]=web;browser;internet;epiphany;网络;浏览器;互联网;
Keywords[zh_TW]=web;browser;internet;epiphany;網頁;瀏覽器;網際網路;
Keywords=web;browser;internet;epiphany;
Exec=env _portableConfig="org.gnome.Epiphany" portable -- %U
StartupNotify=true
Terminal=false
Type=Application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Epiphany
Categories=Network;GNOME;GTK;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;multipart/related;application/x-mimearchive;message/rfc822;application/x-xpinstall;
Actions=new-window;Incognito;
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;

[Desktop Action new-window]
Name[af]=Nuwe venster
Name[be]=Новае акно
Name[be@latin]=Novaje akno
Name[bg]=Нов прозорец
Name[ca]=Finestra nova
Name[ca@valencia]=Finestra nova
Name[ckb]=پەنجەریەکی نوێ
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[en_GB]=New Window
Name[eo]=Nova fenestro
Name[es]=Ventana nueva
Name[eu]=Leiho berria
Name[fa]=پنجرهٔ جدید
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[fur]=Gnûf barcon
Name[fy]=Nij Finster
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hi]=नई विंडो
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[ia]=Nove fenestra
Name[id]=Jendela Baru
Name[ie]=Nov fenestre
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ka]=ახალი ფანჯარა
Name[kab]=Asfaylu amaynut
Name[kk]=Жаңа терезе
Name[ko]=새 창
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[ml]=പുതിയ ജാലകം
Name[ms]=Tetingkap Baharu
Name[nb]=Nytt vindu
Name[ne]=नयाँ सञ्झ्याल
Name[nl]=Nieuw venster
Name[oc]=Novèla fenèstra
Name[pa]=ਨਵੀਂ ਵਿੰਡੋ
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sr@latin]=Novi prozor
Name[sv]=Nytt fönster
Name[ta]=புதிய சாளரம்
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[uz]=Yangi oyna
Name[zh_CN]=新建窗口
Name[zh_TW]=新視窗
Name=New Window
Exec=env _portableConfig="org.gnome.Epiphany" portable -- --new-window %U

[Desktop Action Incognito]
Name[af]=Nuwe privaatvenster
Name[ar]=نافذة تصفح خاص جديدة
Name[be]=Новае прыватнае акно
Name[be@latin]=Novaje pryvatnaje akno
Name[bg]=Нов прозорец в поверителен режим
Name[ca]=Finestra d'incògnit nova
Name[ca@valencia]=Finestra d'incògnit nova
Name[cs]=Nové anonymní okno
Name[da]=Nyt inkognitovindue
Name[de]=Neues Inkognito-Fenster
Name[el]=Νέο παράθυρο ανώνυμης περιήγησης
Name[en_GB]=New Incognito Window
Name[eo]=Nova inkognitofenestro
Name[es]=Ventana nueva de incógnito
Name[eu]=Isilpeko leiho berria
Name[fa]=پنجرهٔ ناشناس جدید
Name[fi]=Uusi incognito-ikkuna
Name[fr]=Nouvelle fenêtre privée
Name[fur]=Gnûf barcon segret
Name[fy]=Nij Priveefinster
Name[gl]=Nova xanela Incógnito
Name[he]=חלון גלישת סתר חדש
Name[hi]=नई गुप्त विंडो
Name[hr]=Novi anonimni prozor
Name[hu]=Új inkognitóablak
Name[ia]=Nove fenestra de incognito
Name[id]=Jendela Penyamaran Baru
Name[ie]=Nov fenestre incognito
Name[it]=Nuova finestra in incognito
Name[ja]=新しい匿名ウィンドウ
Name[ka]=ახალი ინკოგნიტო ფანჯარა
Name[kk]=Жаңа инкогнито терезесі
Name[ko]=새 익명 창
Name[lt]=Naujas incognito langas
Name[lv]=Jauns inkognito logs
Name[ml]=പുതിയ അദൃശ്യ ജാലകം തുറക്കുക
Name[ms]=Tetingkap Inkognito Baharu
Name[nb]=Nytt inkognitovindu
Name[ne]=नयाँ गुप्त सञ्झ्याल
Name[nl]=Nieuw incognitovenster
Name[oc]=Fenèstra Incognito novèla
Name[pa]=ਨਵੀਂ ਲੁਕਵੀਂ ਵਿੰਡੋ
Name[pl]=Nowe okno incognito
Name[pt]=Nova janela de navegação anónima
Name[pt_BR]=Nova janela anônima
Name[ro]=Fereastră incognito nouă
Name[ru]=Новое приватное окно
Name[sk]=Nové okno inkognito
Name[sl]=Novo zasebno okno
Name[sr]=Нови тајни прозор
Name[sr@latin]=Novi tajni prozor
Name[sv]=Nytt inkognito-fönster
Name[ta]=புதிய மறைநிலை சாளரம்
Name[th]=หน้าต่างใหม่ไม่เปิดเผยตัว
Name[tr]=Yeni Gizli Tarama Penceresi
Name[uk]=Конфіденційне вікно
Name[uz]=Yangi maxfiy oyna
Name[uz@cyrillic]=Янги инкогнито ойна
Name[zh_CN]=新建无痕窗口
Name[zh_TW]=新隱密視窗
Name=New Incognito Window
Exec=env _portableConfig="org.gnome.Epiphany" portable -- --incognito-mode %U