[Desktop Entry]
Version=1.0
Type=Application
Name=Ryujinx
GenericName=Nintendo Switch Emulator
Comment=Experimental Nintendo Switch Emulator written in C#
Icon=ryujinx
TryExec=ryujinx
Exec=env GDK_BACKEND=x11 ryujinx %f
Categories=Game;Emulator;GTK;
MimeType=application/x-nx-nro;application/x-nx-nso;application/x-nx-nsp;application/x-nx-xci;
Keywords=Switch;Nintendo;Emulator;
Terminal=false
StartupWMClass=Ryujinx
PrefersNonDefaultGPU=true
