[Unit]
Description=Flood rTorrent Web UI
After=network.target

[Service]
User=flood
EnvironmentFile=/etc/conf.d/flood
ExecStart=/usr/bin/node --use_strict /usr/lib/flood/index.js --rundir /var/lib/flood $FLOOD_ARGS

[Install]
WantedBy=multi-user.target
