[Desktop Entry]
Name=Motrix
Comment=download manager
Keywords=
Exec=/usr/bin/motrix
TryExec=
Terminal=false
Icon=/usr/share/icons/motrix.png
Type=Application
StartupNotify=false
Categories=Network;FileTransfer;
