[Unit]
Description=Run openrgb server
After=network.target lm_sensors.service

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/openrgb --server
Restart=always

[Install]
WantedBy=multi-user.target

