[Unit]
Description=Run openrgb server
After=network.target lm_sensors.service

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/openrgb --server --startminimized
Restart=always

[Install]
WantedBy=multi-user.target

