[Desktop Entry]
Name=OpenRGB
GenericName=RGB Settings
Comment=Open source RGB lighting control that doesn't depend on manufacturer software.
Exec=bash -c 'cd $HOME/.config/OpenRGB && openrgb'
Icon=openrgb
Terminal=false
Type=Application
Categories=Settings;System;
StartupNotify=true
