[Desktop Entry]
Name=Moonlight VPlus
Comment=GameStream client for PCs
Exec=moonlight-vplus
Icon=moonlight-vplus
Terminal=false
Type=Application
Categories=Game;Network;
