[Desktop Entry]
Name=Qsstv
Name[en_US]=Qsstv
Comment=Slow-Scan TV Suite
Comment[en_US]=Slow Scan TV Suite
Encoding=UTF-8
Exec=/usr/bin/qsstv
Icon=qsstv
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;HamRadio;
Keywords=TV;Fax;
