[Desktop Entry]
Type=Application
Name=μ
GenericName=Kreogist Music Manager
Exec=kreogist-mu
Icon=kreogist-mu
Terminal=false
Categories=AudioVideo;Audio;Music;Player;Qt;
StartupNotify=false
MimeType=audio/flac;audio/aac;audio/mp2;audio/mp4;audio/mpeg;audio/x-ape;audio/x-musepack;audio/x-aif;audio/x-aiff;audio/oga;audio/ogg;audio/x-flac+ogg;audio/x-vorbis+ogg;audio/x-opus+ogg;audio/x-speex;audio/x-tta;audio/x-wav;audio/x-wavpack;application/x-cue;x-content/audio-player
