[Desktop Entry]
Version=1.25.0b
Type=Application
Name=Cemu
Comment=Wii U emulator
Exec=cemu
Encoding=UTF-8
Icon=cemu
Categories=Game;
Terminal=false
StartupNotify=true
StartupWMClass=cemu.exe
