[Desktop Entry]
Version=1.22.4
Type=Application
Name=Cemu
Comment=Wii U emulator
Exec=/usr/bin/cemu
Encoding=UTF-8
Icon=/usr/share/pixmaps/cemu.xpm
Categories=Game;
Terminal=false
StartupNotify=true
StartupWMClass=cemu.exe
