[Desktop Entry]
Name=GridTracker2
Exec=/usr/bin/gridtracker2 %U
Terminal=false
Type=Application
Icon=gridtracker2
StartupWMClass=GridTracker2
Comment=GridTracker2
Categories=Utility;HamRadio;
