[Desktop Entry]
Type=Application
Name=FeelUOwn
Comment=FeelUOwn Launcher
Exec=feeluown --log-to-file
Icon=feeluown-app
Categories=AudioVideo;Audio;Player;Qt;
Terminal=false
StartupNotify=true
StartupWMClass=FeelUOwn
