[Unit]
Description=Spigot
After=local-fs.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/spigot start
ExecStop=/usr/bin/spigot stop
User=craftbukkit
Group=craftbukkit

[Install]
WantedBy=multi-user.target
