[Unit]
Description=The PHP 5.3 FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/run/php53-fpm/php-fpm.pid
PrivateTmp=true
ExecStart=/usr/bin/php53-fpm --nodaemonize --pid /run/php53-fpm/php-fpm.pid
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
