[Desktop Entry]
Name=PokerTH Widget
GenericName=Poker Card Game
GenericName[bg]=Играта на покер
GenericName[de]=Pokerspiel
GenericName[es]=Juego de Poker
GenericName[fr]=Jeu de Poker
GenericName[it]=Gioco di Poker
GenericName[nl]=Pokerspel
GenericName[pl]=Gra w poker
GenericName[pt_BR]=Jogo do Poker
GenericName[pt_PT]=Jogo do Poker
GenericName[ru]=Игра в покер
GenericName[tr]=Poker Kart Oyunu
GenericName[uk]=Гра в покер
Comment=Texas hold'em game
Comment[bg]=Играта на Тексас Холдем
Comment[de]=Texas Hold'em Spiel
Comment[es]=Juego de Texas Hold'em
Comment[fr]=Jeu de Texas Hold'em
Comment[it]=Gioco di Poker alla Texano
Comment[nl]=Texas Hold'em-spel
Comment[pl]=Gra w teksański klincz
Comment[pt_BR]=Jogo do Texas Hol'dem
Comment[pt_PT]=Jogo do Texas Hol'dem
Comment[ru]=Игра в техасский холдем
Comment[tr]=Texas hold'em oyunu
Comment[uk]=Гра в техаський холдем
StartupWMClass=pokerth_client
Exec=pokerth
Icon=pokerth
Terminal=false
Type=Application
X-DCOP-ServiceType=Multi
X-KDE-StartupNotify=true
Categories=Qt;Game;CardGame;
