[Desktop Entry]
Version=1.0
Type=Application
Name=Hmcl
Comment=Hello Minecraft! Launcher, a powerful Minecraft launcher.
Exec=hmcl
Icon=hmcl
Terminal=false
StartupNotify=false
Categories=Game;
