[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Throne
Categories=Network;
Comment=Qt based cross-platform GUI proxy configuration manager (backend: sing-box)
Comment[zh_CN]=基于 Qt 的跨平台代理配置管理器 (后端 sing-box)
Keywords=Internet;VPN;Proxy;sing-box;
Exec=throne
Icon=Throne
