[Desktop Entry]
Name=ScreenRuler
Comment=ScreenRuler lets you measure objects on your screen using six different metrics.
Icon=screenruler-icon-32x32.png
Exec=screenruler
Terminal=false
Type=Application
Categories=GTK;Application;Utility
