[Desktop Entry]
Name=Qt Assistant (Qt 6)
Comment=Shows Qt documentation and examples
Exec=assistant6
Icon=assistant6
Terminal=false
Type=Application
Categories=Qt;Development;Documentation;
