[Desktop Entry]
Name=Qt Designer (Qt 6)
GenericName=Interface Designer
Comment=Design GUIs for Qt applications
Exec=designer6 %F
Icon=QtProject-designer6
MimeType=application/x-designer;
Terminal=false
Type=Application
Categories=Qt;Development;
