[Desktop Entry]
Name=Qt QDBusViewer (Qt 6)
GenericName=D-Bus Debugger
Comment=Debug D-Bus applications
Exec=qdbusviewer6
Icon=qdbusviewer6
Terminal=false
Type=Application
Categories=Qt;Development;Debugger;
