[Desktop Entry]
Name=edb
GenericName=edb debugger
Comment=Qt5 based binary mode debugger
TryExec=edb
Exec=edb
Icon=edb
Terminal=false
Type=Application
Categories=Application;Development;Qt;Debugger;
Actions=Debug
MimeType=application/x-executable

[Desktop Action Debug]
Exec=edb --run %f
Name=edb (debug with)
