[File]
;;=============================================================
;; Registry   - Mask this file is a registry file.
;; Keep       - Default. Use template file.
;; Override   - Use file in current prefix.
;; Replace    - If it's different type in current prefix and
;;              in template, use template one to replace it.
;; Ingore     - Ingore file when copy.

;; Ingore update.policy itself.
"^update.policy$" = "Ingore"
"^.update-timestamp$" = "Ingore"

;; System registry files.
"^(system|userdef|user).reg$" = "Registry"

;; Addtional assist files.
"^drive_c/Deepin" = "Keep"

;; Microsoft Office files.
"^drive_c/Windows/(?:control\.ini|hh\.dat|mapiuid\.ini|Reg Save Log\.txt)$" = "Override"



[Registry]
;;=============================================================
;; Keep       - Use template key section
;; Override   - Use user current key section
;; Merge      - Default. Merge two section, user current values
                override template

"^Software\\Wine\\DllOverrides$" = "Keep"
"^Software\\Wine\\Fonts\\Replacements$" = "Keep"
