[Unit]
Description=Minecraft Server
After=local-fs.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/minecraftd start
ExecStop=/usr/bin/minecraftd stop
User=minecraft
Group=minecraft

[Install]
WantedBy=multi-user.target
