[Desktop Entry]
Comment=
Exec=FreeFileSync
GenericName=Folder Comparison and Synchronization
Icon=/usr/share/pixmaps/ffsicon.png
Name=FreeFileSync
NoDisplay=false
StartupNotify=true
Categories=GTK;Application;Utility;
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=

