[Desktop Entry]
Name=FreeFileSync
GenericName=File synchronization
Comment=Backup software to synchronize files and folders
Exec=FreeFileSync
NoDisplay=false
Terminal=0
TerminalOptions=
Type=Application
Icon=/usr/share/pixmaps/ffsicon.png
Categories=GTK;Application;Utility;
StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
