[Desktop Entry]
Comment=
Exec=RealtimeSync
GenericName=Automated Synchronization
Icon=/usr/share/pixmaps/rtsicon.png
Name=RealtimeSync
NoDisplay=false
StartupNotify=true
Categories=GTK;Application;Utility;
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=

