[Desktop Entry]
Name=PyCharm
Icon=pycharm
GenericName=Python and Django IDE
Comment=Powerful Python and Django IDE. Community edition.
Exec=/usr/bin/pycharm
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true
StartupWMClass=jetbrains-pycharm-ce
