[Unit]
Description=Bittorent Sync service for %i
After=network.target
 
[Service]
User=%i
ExecStart=/usr/bin/btsync --config /home/%i/.config/btsync/btsync.conf --nodaemon
Restart=on-abort

[Install]
WantedBy=multi-user.target
