[Desktop Entry]
Version=
Encoding=UTF-8
Name=86Box
Exec=/usr/bin/86box -P ~/.config/86box
Terminal=true
Type=Application
Icon=86Box
Comment=Emulator of x86-based machines.
Categories=System;
