[Desktop Entry]
Version=1.0
Type=Application
Name=Zulip
Comment=Real-time team chat based on the email threading model
Exec=/usr/bin/zulip %u
Icon=zulip
Categories=Network;InstantMessaging;Chat;
Terminal=false
MimeType=x-scheme-handler/zulip;
