# See https://editorconfig.org/
root = true

[*]
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
# Proposals
indent_brace_style = K&R
curly_bracket_next_line = false
spaces_around_operators = true
quote_type = single
# For https://github.com/mvdan/sh
switch_case_indent = true
function_next_line = false
binary_next_line = true
space_redirects = true

# Arch Linux scripts
[{PKGBUILD,*.install}]
shell_variant = bash
indent_size = 2
# TODO: keep_padding is deprecated and will be removed in shfmt v4 (https://github.com/mvdan/sh/issues/658),
# but dropping it now breaks PKGBUILD `updpkgsums` alignment (https://github.com/mvdan/sh/issues/678).
keep_padding = true

# Patch files need trailing spaces
[*.{diff,patch}]
trim_trailing_whitespace = false
