# See https://wiki.archlinux.org/title/PKGBUILD
shell=bash

# Enable all additional checks.
enable=all
extended-analysis=true

# Some PKGBUILD variables will only be used by makepkg.
# See https://www.shellcheck.net/wiki/SC2034
disable=SC2034

# Some variables are exported from makepkg, and should be present in the PKGBUILD.
# See https://www.shellcheck.net/wiki/SC2154
disable=SC2154

# makepkg already runs each PKGBUILD function with 'set -e'.
# See https://www.shellcheck.net/wiki/SC2164
disable=SC2164
