[Desktop Entry]
Type=Application
Version=1.1
Name=Wire
GenericName=Secure messenger
Comment=Secure messenger for everyone
Exec=wire-desktop
Icon=wire-desktop
Terminal=false
Categories=Network;InstantMessaging;Chat;VideoConference
Keywords=chat;encrypt;e2e;messenger;videocall
StartupWMClass=Wire
