[Unit]
Description=Long-Press-to-Right-Click on Touchscreen Linux Device
After=display-manager.service

[Service]
Type=simple
User=root
EnvironmentFile=/etc/evdev-rce.conf
ExecStart=/usr/bin/evdev-rce
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
