[Desktop Entry]
Version=1.0
Type=Application
Name=GoLand
Icon=goland
Exec="/opt/goland/bin/goland.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-goland
