#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=Stone Soup
GenericName=Crawl Stone Soup
Comment=Community maintained variant of Linley's Dungeon Crawl - git version
Icon=stone-soup-tiles-git.png
Exec=crawl
Categories=Game;ArcadeGame
