[Desktop Entry]
Name=Close Active
Comment=Close Active Window or desktop if none active
Exec=cla
Type=Application
StartupNotify=true
Icon=window-close
Categories=System;
