[Unit]
Description=ttyd daemon
Documentation=man:ttyd(1)
After=network.target systemd-tmpfiles-clean.service
Wants=hiawatha.service

[Service]
Type=simple
ExecStart=/bin/ttyd login
ExecReload=/bin/kill -HUP $MAINPID
#PIDFile=/run/ttyd.pid
KillMode=process
LimitNOFILE=512
LimitMEMLOCK=infinity
LimitSTACK=infinity

[Install]
WantedBy=multi-user.target
