[Desktop Entry]
Version=1.0
Type=Application
Name=Youtube-dl GUI
Exec=youtube-dl-gui
Icon=youtube-dl-gui
Categories=Network;
Comment=GUI for youtube-dl downloader
