[Unit]
Description=An MPRIS scrobbler
Documentation=https://github.com/InputUsername/rescrobbled
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/rescrobbled

[Install]
WantedBy=default.target
