[Desktop Entry]
Type=Application
Name=Zotero
GenericName=Zotero Standalone. Is a free, easy-to-use tool to help you collect, organize, cite, and share your research sources.
Icon=/usr/lib/zotero/chrome/icons/default/default48.png
Exec=/usr/bin/zotero %f
Categories=Office
Terminal=false
