[Desktop Entry]
Name=EFI Entry Manager (Wayland)
Name[x-test]=xxEFI Entry Manager (Wayland)xx
Name[zh]=EFI 启动管理器 (Wayland)
Comment=Manager your EFI boot entries
Comment[x-test]=xxManager your EFI boot entriesxx
Comment[zh]=管理您的 EFI 启动项
Exec=sudo -E QEFIEntryManager
Icon=cc.inoki.qefientrymanager
Type=Application
Terminal=true
Categories=Qt;Utility
