[Desktop Entry]
Type=Application
Name=Zotero
GenericName=Zotero Standalone. Is a free, easy-to-use tool to help you collect, organize, cite, and share your research sources.
Icon=zotero
Exec=/usr/bin/zotero -url %U
Categories=Office
Terminal=false
MimeType=x-scheme-handler/zotero
