[Unit]
Description=Matrix-Telegram hybrid puppeting/relaybot bridge
RequiresMountsFor=/var/lib/private/Mautrix-Telegram
StartLimitIntervalSec=120
StartLimitBurst=10

[Service]
IPAccounting=yes
LoadCredential=config.yaml:/etc/mautrix-telegram/config.yaml
LoadCredential=registration.yaml:/etc/mautrix-telegram/registration.yaml

DynamicUser=yes
ExecStart=bash -c "ln -sfr ${CREDENTIALS_DIRECTORY}/* /var/tmp && python -m mautrix_telegram -c /var/tmp/config.yaml"
Restart=always
StateDirectory=Mautrix-Telegram
StateDirectoryMode=0700
WorkingDirectory=/var/lib/private/Mautrix-Telegram
RuntimeDirectory=Mautrix-Telegram
CPUQuota=25%
CPUWeight=75

RestartSec=1s

ProtectProc=invisible
ProcSubset=pid
PrivateUsers=yes
RestrictNamespaces=yes
UMask=077

SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@mount:EPERM
SystemCallFilter=~@obsolete
SystemCallFilter=~@privileged:EPERM
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~@resources
SystemCallFilter=~@swap
SystemCallErrorNumber=EPERM

OOMPolicy=stop
OOMScoreAdjust=30

CapabilityBoundingSet=
AmbientCapabilities=

ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
