[Desktop Entry]
Version=3.0
Name=RubyMine
Icon=rubymine
GenericName=Ruby and Rails IDE with the full stack of essential developer tools
Comment=Ruby and Rails IDE with the full stack of essential developer tools
Exec=/usr/bin/jetbrains-rubymine
Terminal=false
Type=Application
Categories=Development
