[Unit]
Description=Geph exit Service
After=network.target nss-lookup.target

[Service]
User=nobody
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ExecStart=/usr/bin/geph-exit
Restart=on-failure

[Install]
WantedBy=multi-user.target
