[Desktop Entry]
Name=Logisim
Comment=An educational tool for designing and simulating digital logic circuits
Exec=/usr/bin/logisim
Icon=logisim
Terminal=false
Type=Application
Categories=Education
MimeType=application/x-logisim
