[Desktop Entry]
Comment=Default Viewer for MaterialX Shaders
Exec=MaterialXView --material
GenericName=MaterialX Viewer
Icon=materialx
MimeType=model/materialx;
Name=MaterialX Viewer
NoDisplay=true
StartupNotify=true
Terminal=false
Type=Application
