pkgbase = wallch
	pkgdesc = A powerful general purpose wallpaper changer.
	pkgver = 4.15
	pkgrel = 3
	url = http://melloristudio.com/wallch/
	install = wallch.install
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = dee
	makedepends = sqlite
	makedepends = gst-plugins-base
	makedepends = libxslt
	makedepends = qt5-tools
	depends = libexif
	depends = libkeybinder2
	depends = libnotify
	depends = libunity
	depends = libappindicator-gtk2
	depends = qt5-webkit
	depends = desktop-file-utils
	optdepends = bash-completion: for bash auto-completion
	provides = wallch
	source = http://downloads.sourceforge.net/project/wall-changer/wallch_4.15.tar.gz
	md5sums = 052eeeb70050444ec098a49a70e2987a

pkgname = wallch

