[Desktop Entry]
Name=Google Chinese Handwriting IME
Comment=Google Chinese Handwriting IME
Exec=/usr/bin/google-chinese-handwriting-ime %U
Terminal=false
Type=Application
Hidden=false
