[Desktop Entry]
Name=Nekoray
Comment=Qt based cross-platform GUI proxy configuration manager (backend: v2ray / sing-box)
Exec=nekoray -- -appdata
Icon=nekoray
Type=Application
StartupNotify=true
Categories=Network;Utility;
StartupWMClass=nekoray

