[Desktop Entry]
Name=Boostnote
GenericName=Boostnote is an open source note-taking app made for programmers just like you.
Comment=Boostnote is an open source note-taking app made for programmers just like you.
Exec=/usr/bin/boostnote %U
Icon=boostnote
Type=Application
StartupNotify=true
Categories=Development;Utility;
MimeType=text/plain;