[Unit]
Description=UDP over TCP/ICMP/UDP tunnel
After=network-online.service

[Service]
User=nobody
Type=simple
PermissionsStartOnly=true
CapabilityBoundingSet=CAP_NET_RAW CAP_NET_ADMIN
ExecStartPre=/usr/lib/udp2raw/udp2raw_script.sh /etc/udp2raw/%i.conf insert
ExecStart=/usr/bin/udp2raw --conf-file /etc/udp2raw/%i.conf
ExecStopPost=/usr/lib/udp2raw/udp2raw_script.sh /etc/udp2raw/%i.conf delete
Restart=always
RestartSec=30
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
