[Desktop Entry]
Type=Application
Name=Master PDF Editor
GenericName=PDF Editor
Comment=Edit your PDF and XPS files
Exec=/opt/master-pdf-editor-VERMAJ/masterpdfeditorVERMAJ %f
Icon=/opt/master-pdf-editor-VERMAJ/masterpdfeditorVERMAJ.png
Categories=Office;Publishing;
MimeType=application/pdf
