Default.zh_CN.sublime-package
Default.zh_TW.sublime-package
LICENSE.zh_CN
LICENSE.zh_TW
libsublime-imfix.i686.so
libsublime-imfix.x86_64.so
sublime_text.i686
sublime_text.x86_64
sublime_text_3.desktop
sublime_text_3_imfix.desktop

