[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Sublime Text 3 Dev IM Fix
Name[zh_CN]=Sublime Text 3 开发版(输入法修复)
GenericName=Text Editor
GenericName[zh_CN]=文本编辑器
Comment=Sophisticated text editor for code, HTML and prose
Comment[zh_CN]=高端精致的文本(代码、HTML、散文)编辑器
Keywords=Text;Editor;
Keywords[zh_CN]=文本;编辑器;Text;Editor;
Exec=sublime_text_3_imfix %F
Terminal=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Icon=sublime-text
Categories=TextEditor;Development;GTK;Application;
StartupNotify=true
Actions=Window;Document;

[Desktop Action Window]
Name=New Window
Exec=sublime_text_3_imfix -n
OnlyShowIn=Unity;

[Desktop Action Document]
Name=New File
Exec=sublime_text_3_imfix --command new_file
OnlyShowIn=Unity;
