[Desktop Entry]
Name=Standard Notes
Comment=A standard notes app with an un-standard focus on longevity, portability, and privacy.
Exec=standardnotes-desktop
Terminal=false
Type=Application
Icon=standard-notes
StartupWMClass=Standard Notes
Categories=Office;
