pkgbase = gnome-vfs-nosmb
	pkgdesc = The GNOME Virtual File System
	pkgver = 2.24.4
	pkgrel = 9
	url = http://www.gnome.org
	install = gnome-vfs.install
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = pkgconfig
	makedepends = intltool
	makedepends = gtk-doc
	makedepends = gnome-common
	depends = gconf
	depends = bzip2
	depends = gamin
	depends = dbus
	depends = avahi
	depends = gnome-mime-data
	depends = krb5
	depends = gnutls
	depends = libgcrypt
	provides = gnome-vfs
	conflicts = gnome-vfs
	options = !emptydirs
	source = http://ftp.gnome.org/pub/gnome/sources/gnome-vfs/2.24/gnome-vfs-2.24.4.tar.bz2
	source = gnutls-config.patch
	source = gnutls-3.4.0.patch
	source = gcrypt-config.patch
	source = enable-deprecated.patch
	sha256sums = 62de64b5b804eb04104ff98fcd6a8b7276d510a49fbd9c0feb568f8996444faa
	sha256sums = 66c7cfb12995c0dd94a2caea95c7e3c55981993f05a79c585d60915ff131955d
	sha256sums = 5fe5e2e1ad8d8d36deb2d38db621d5b8350aafe3876f722467465c3b3fa304d3
	sha256sums = c059e218f310da683778919d36e7862f7e763384805f6453d328fbaf507a8114
	sha256sums = ca2b9dffb1fa202c0d1f0d3648ef37cd8e84657a22d4c6746bb46e9a6cf1ee47

pkgname = gnome-vfs-nosmb

