[Desktop Entry]
Name=Koodo Reader
Exec="/usr/bin/koodo-reader" %U
Terminal=false
Type=Application
Icon=koodo-reader
StartupWMClass=Koodo Reader
Comment=A cross-platform ebook reader
MimeType=application/epub+zip;application/pdf;application/x-mobipocket-ebook;application/vnd.amazon.ebook;image/vnd.djvu;application/x-cbz;application/x-cbr;application/x-cbt;application/x-fictionbook+xml;
Categories=Office;
