[Desktop Entry]
Name=Telegram
Comment=New era of messaging
TryExec=Telegram
Exec=env _portableConfig="org.telegram.desktop" portable -- -- %u
Icon=org.telegram.desktop
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=quit;
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=env _portableConfig="org.telegram.desktop" portable --actions quit
Name=Quit Telegram
Icon=application-exit
