[Desktop Entry]
Categories=Development;
Comment=A Clash GUI based on tauri.
Exec=clash-nyanpasu
Icon=clash-nyanpasu
Name=Clash Nyanpasu
Terminal=false
Type=Application