[Desktop Entry]
Type=Application
Name=Sublime Text
Comment=Sophisticated text editor for code, html and prose
Exec=subl %F
Icon=sublime-text
Categories=Utility;TextEditor;
Terminal=false
MimeType=text/plain;
