[Desktop Entry]
Name=MakeHuman
Comment=Model and pose a 3D humanoid
Comment[cs]=Tvorba humanoidních postav
Exec=makehuman
Icon=makehuman
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Graphics;3DGraphics;
