
[Desktop Entry]
Type=Application
Version=38.7
Encoding=UTF-8
Name=Powder Toy
Comment=A physics simulation game.
Exec=/usr/bin/powder-toy
Icon=powder-toy
Terminal=false
StartupNotify=false
Categories=Game;
