[Desktop Entry]
Name=Hyper
Comment=JS/HTML/CSS Terminal
Exec=hyper
Icon=/usr/share/pixmaps/hyper.png
Terminal=false
Type=Application
Categories=Development;
