pkgbase = cower
	pkgdesc = A simple AUR agent with a pretentious name
	pkgver = 18
	pkgrel = 1
	url = http://github.com/falconindy/cower
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = perl
	depends = curl
	depends = pacman
	depends = yajl
	source = https://pkgbuild.com/~dreisner/sources/cower/cower-18.tar.gz
	source = https://pkgbuild.com/~dreisner/sources/cower/cower-18.tar.gz.sig
	validpgpkeys = 487EACC08557AD082088DABA1EB2638FF56C0C53
	md5sums = ce5993a79d7e1cc33016e06e32af03e7
	md5sums = SKIP

pkgname = cower

