[Desktop Entry]
Name=Discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=/usr/bin/discord
Icon=/usr/share/pixmaps/discord.png
Type=Application
StartupNotify=false
Categories=Network;InstantMessaging;
StartupWMClass=discord
