[Desktop Entry]
Name=Linphone Desktop
GenericName=SIP Phone
Comment=Linphone is a libre SIP client
Type=Application
Exec=/opt/linphone-desktop/bin/linphone %u
Icon=linphone
Terminal=false
Categories=Network;Telephony;
MimeType=x-scheme-handler/sip-linphone;x-scheme-handler/sip;x-scheme-handler/sips-linphone;x-scheme-handler/sips;

# Translations
Name[ar]=لِنْفُونْ
Name[cs]=Linphone
Name[de]=Linphone
Name[fr]=Linphone
Name[he]=Linphone
Name[hu]=Linphone
Name[it]=Linphone
Name[ja]=Linphone
Name[nb_NO]=Linphone
Name[ru]=Linphone
Name[sr]=Линфон
Name[sv]=Linphone
Name[zh_CN]=Linphone
Name[zh_TW]=Linphone
