[Desktop Entry]
Version=1.0
Type=Application
Name=Tor-Browser (REPL_LANGUAGE)
Exec=/usr/bin/tor-browser
Icon=/usr/share/pixmaps/tor-browser.png
Categories=Network;
Comment=Anonymous browsing using firefox and tor
