pkgbase = stapler-git
	pkgdesc = Manipulate PDF documents from the command line
	pkgver = 0.3.2.r11.gdc496c5
	pkgrel = 1
	url = http://github.com/hellerbarde/stapler
	arch = any
	license = BSD
	makedepends = git
	depends = python2-pypdf2
	depends = python2-setuptools
	depends = python2-more_itertools
	source = git+https://github.com/hellerbarde/stapler.git
	md5sums = SKIP

pkgname = stapler-git

