[Unit]
Description=Geph4 Client Service
After=network.target nss-lookup.target

[Service]
DynamicUser=true
CacheDirectory=geph4-client
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
EnvironmentFile=/etc/default/geph4-client
ExecStart=/usr/bin/geph4-client $SUBCOMMAND $FLAGS $OPTIONS --credential-cache /var/cache/geph4-client/ auth-password --password $PASSWORD --username $USERNAME
Restart=on-failure

[Install]
WantedBy=multi-user.target
