[Unit]
Description=Dendrite Matrix Homeserver
After=network-online.target
After=postgresql.service
Wants=postgresql.service

[Service]
User=dendrite
ExecStart=/usr/bin/dendrite --config=/etc/dendrite/config.yaml
WorkingDirectory=/var/lib/dendrite/
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
