pkgbase = xrdp
	pkgdesc = An open source remote desktop protocol (RDP) server
	pkgver = 0.9.9
	pkgrel = 2
	url = https://github.com/neutrinolabs/xrdp
	install = xrdp.install
	arch = i686
	arch = x86_64
	arch = armv6h
	license = Apache
	makedepends = nasm
	depends = tigervnc
	depends = libxrandr
	depends = lame
	depends = opus
	depends = fuse
	backup = etc/xrdp/sesman.ini
	backup = etc/xrdp/xrdp.ini
	source = https://github.com/neutrinolabs/xrdp/releases/download/v0.9.9/xrdp-0.9.9.tar.gz
	source = arch-config.diff
	md5sums = d2f57182036c3f69dcaca0dfed4aaa6b
	md5sums = c0ad76e2d0edba6d977e2c7478f2f309

pkgname = xrdp

