[Unit]
Description=Lantern
After=network.target

[Service]
Type=simple
User=lantern
PermissionsStartOnly=true
ExecStart=/usr/bin/lantern -headless
StandardOutput=null
StandardError=null

PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target

