[Unit]
Description=PaperMC Server World Backup
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/papermc backup
User=papermc
Group=papermc

[Install]
WantedBy=multi-user.target
