pkgbase = qarma-git
	pkgdesc = A drop-in replacement clone for zenity, written in Qt4/5, Qt5 build
	pkgver = 20
	pkgrel = 7
	url = https://github.com/luebking/qarma
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	depends = qt5-base
	depends = qt5-x11extras
	provides = qarma
	provides = zenity
	conflicts = zenity
	conflicts = qarma
	source = git://github.com/luebking/qarma.git
	md5sums = SKIP

pkgname = qarma-git

