[Desktop Entry]
Version=1.0
Encoding=UTF-8
Exec=betterbird %u
Terminal=false
Type=Application
Icon=betterbird
Categories=Network;Email;
MimeType=message/rfc822;x-scheme-handler/mailto;application/x-xpinstall;application/x-extension-ics;text/calendar;text/vcard;text/x-vcard;x-scheme-handler/webcal;x-scheme-handler/webcals;x-scheme-handler/mid;
StartupNotify=true
StartupWMClass=eu.betterbird.Betterbird
Actions=ComposeMessage;OpenAddressBook;
Name=Betterbird
Name[ast]=Veceru de corréu Betterbird
Name[ca]=Client de correu Betterbird
Name[cs]=Poštovní klient Betterbird
Name[da]=Betterbird - e-post/nyhedsgruppe
Name[de]=Betterbird-E-Mail und -Nachrichten
Name[el]=Ηλεκτρονική αλληλογραφία Betterbird
Name[es_ES]=Cliente de correo Betterbird
Name[es_AR]=Cliente de correo Betterbird
Name[fi]=Betterbird-sähköposti
Name[fr]=Messagerie Betterbird
Name[gl]=Cliente de correo Betterbird
Name[he]=Betterbird דוא״ל/חדשות
Name[hr]=Betterbird e-pošta/novosti
Name[hu]=Betterbird levelezőkliens
Name[it]=Email Betterbird
Name[ja]=Betterbird 電子メールクライアント
Name[ko]=Betterbird
Name[nl]=Betterbird e-mail/nieuws
Name[pl]=Klient poczty Betterbird
Name[pt_BR]=Cliente de E-mail Betterbird
Name[ru]=Почтовый клиент Betterbird
Name[sk]=Betterbird - poštový klient
Name[sv]=E-postklienten Betterbird
Name[uk]=Поштова програма Betterbird
Name[vi]=Trình điện thư Betterbird
Name[zh_CN]=Betterbird 邮件/新闻
Name[zh_TW]=Betterbird 郵件
Comment=Send and receive mail with Betterbird
Comment[ast]=Lleer y escribir corréu electrónicu
Comment[ca]=Llegiu i escriviu correu
Comment[cs]=Čtení a psaní pošty
Comment[da]=Skriv/læs e-post/nyhedsgruppe med Betterbird
Comment[de]=E-Mails und Nachrichten mit Betterbird lesen und schreiben
Comment[el]=Διαβάστε και γράψτε γράμματα με το Betterbird
Comment[es_ES]=Lea y escriba correos y noticias con Betterbird
Comment[es_AR]=Lea y escriba correos y noticias con Betterbird
Comment[fi]=Lue ja kirjoita sähköposteja
Comment[fr]=Lire et écrire des courriels
Comment[gl]=Lea e escriba correo electrónico
Comment[he]=קריאה/כתיבה של דוא״ל/חדשות באמצעות Betterbird
Comment[hr]=Čitajte/šaljite e-poštu s Betterbird
Comment[hu]=Levelek írása és olvasása a Betterbirddel
Comment[it]=Per leggere e scrivere email
Comment[ja]=メールの読み書き
Comment[ko]=Betterbird 메일/뉴스 읽기 및 쓰기 클라이언트
Comment[nl]=E-mail/nieuws lezen en schrijven met Betterbird
Comment[pl]=Czytanie i wysyłanie e-maili
Comment[pt_BR]=Leia e escreva suas mensagens
Comment[ru]=Читайте и пишите письма
Comment[sk]=Čítajte a píšte poštu pomocou programu Betterbird
Comment[sv]=Läs och skriv e-post
Comment[uk]=Читання та написання листів
Comment[vi]=Đọc và soạn thư điện tử
Comment[zh_CN]=阅读邮件或新闻
Comment[zh_TW]=以 Betterbird 讀寫郵件或新聞
GenericName=Mail Client
GenericName[ast]=Client de correu
GenericName[ca]=Client de correu
GenericName[cs]=Poštovní klient
GenericName[da]=E-postklient
GenericName[de]=E-Mail-Anwendung
GenericName[el]=Λογισμικό αλληλογραφίας
GenericName[es_ES]=Cliente de correo
GenericName[es_AR]=Cliente de correo
GenericName[fi]=Sähköpostiohjelma
GenericName[fr]=Client de messagerie
GenericName[gl]=Cliente de correo electrónico
GenericName[he]=לקוח דוא״ל
GenericName[hr]=Klijent e-pošte
GenericName[hu]=Levelezőkliens
GenericName[it]=Client email
GenericName[ja]=電子メールクライアント
GenericName[ko]=메일 클라이언트
GenericName[nl]=E-mailprogramma
GenericName[pl]=Klient poczty
GenericName[pt_BR]=Cliente de E-mail
GenericName[ru]=Почтовый клиент
GenericName[sk]=Poštový klient
GenericName[sv]=E-postklienten
GenericName[uk]=Поштова програма
GenericName[vi]=Phần mềm khách quản lý thư điện tử
GenericName[zh_CN]=邮件新闻客户端
GenericName[zh_TW]=郵件用戶端
Keywords=Email;E-mail;Newsgroup;Feed;RSS
Keywords[ast]=Corréu;Corréu-e;Noticies;Discusiones;Mensaxes;Canales;RSS;Thunderbird
Keywords[ca]=Correu;Email;E-mail;Mailing;Llistes;Notícies;RSS;Thunderbird
Keywords[cs]=Email;E-mail;Pošta;Elektronická pošta;Diskusní skupiny;Čtečka;RSS;Thunderbird
Keywords[da]=Email;E-mail;Epost;E-post;E-brev;Newsgroup;Nyhedsgruppe;Nyhedskilde;Usenet;Feed;RSS;Thunderbird
Keywords[de]=Mail;E-Mail;Newsgroup;Nachrichten;Feed;RSS;Post;News;Usenet;online;lesen;schreiben;Thunderbird
Keywords[el]=Email;E-mail;Newsgroup;Feed;RSS;ημαιλ;Αλληλογραφία;Ροή;ΡΣΣ;Συζητήσεις;Γράμματα;Thunderbird
Keywords[es_ES]=Email;Correo electrónico;Noticias;Discusiones;Mensajes;Canales;RSS;Thunderbird
Keywords[es_AR]=Email;Correo electrónico;Noticias;Discusiones;Mensajes;Canales;RSS;Thunderbird
Keywords[fi]=Mail;E-Mail;Email;Newsgroup;Feed;RSS;posti;sähköposti;maili;meili;Usenet;uutisryhmät;syöte;Thunderbird
Keywords[fr]=Mails;Mels;E-Mails;Emails;Courriels;Courriers;Newsgroup;Feed;RSS;Poster;Betterbird;Lire;Écrire;Thunderbird
Keywords[he]=דוא"ל;דוא״ל;מייל;אי-מייל;אימייל;הודעות;מוזילה;תאנדרבירד;ת׳אנדרבירד;ת'אנדרבירד;ת׳אנדרברד;ת'אנדרברד;דואל;Thunderbird
Keywords[hr]=email;e-mail;e-pošta;pošta;RSS;Thunderbird
Keywords[hu]=Email;E-mail;Levél;Levelezés;Hírcsoport;Feed;Hírforrás;RSS;Thunderbird
Keywords[it]=Email;Mail;Posta;Newsgroup;Feed;RSS;Thunderbird
Keywords[ja]=Eメール;イーメール;mail;e-mail;email;メール;電子メール;ニュースグループ;ネットニュース;RSS;フィードリーダー;書く;読む;Thunderbird
Keywords[nl]=Email;E-mail;Newsgroup;Feed;RSS;Nieuwsgroep;Post;Thunderbird
Keywords[ru]=Email;E-mail;Newsgroup;Feed;RSS;почта;письма;новости;фиды;Thunderbird
Keywords[sk]=Email;E-mail;Elektronická pošta;Diskusné skupiny;Čítačka kanálov;RSS;Thunderbird
Keywords[uk]=Email;E-mail;Newsgroup;Feed;RSS;пошта;новини;подачі;стрічка;Thunderbird
Keywords[vi]=Mail;E-Mail;Email;Newsgroup;Feed;RSS;Thư điện tử;Gửi thư;Thunderbird
Keywords[zh_CN]=Mail;E-Mail;Email;Newsgroup;Feed;RSS;电子;邮件;新闻;雷鸟;电邮;邮箱;阅读器;Thunderbird

[Desktop Action ComposeMessage]
Name=Write new message
Name[ast]=Redactar mensaxe nuevu
Name[ca]=Escriu un missatge nou
Name[cs]=Napsat novou zprávu
Name[da]=Skriv en ny meddelelse
Name[de]=Neue Nachricht verfassen
Name[el]=Σύνταξη νέου μηνύματος
Name[es_AR]=Escribir un nuevo mensaje
Name[es_ES]=Redactar nuevo mensaje
Name[fi]=Kirjoita uusi viesti
Name[fr]=Rédiger un nouveau message
Name[gl]=Escribir unha nova mensaxe
Name[he]=כתיבת הודעה חדשה
Name[hr]=Piši novu poruku
Name[hu]=Új üzenet írása
Name[it]=Scrivi nuovo messaggio
Name[ja]=新しいメッセージを作成する
Name[ko]=새 메시지 작성
Name[nl]=Nieuw bericht aanmaken
Name[pl]=Nowa wiadomość
Name[pt_BR]=Nova mensagem
Name[ru]=Создать новое сообщение
Name[sk]=Nová e-mailová správa
Name[sv]=Skriv ett nytt meddelande
Name[uk]=Написати нового листа
Name[vi]=Viết thư mới
Name[zh_CN]=编写新消息
Name[zh_TW]=寫一封新訊息
Exec=betterbird -compose

[Desktop Action OpenAddressBook]
Name=Open address book
Name[ast]=Abrir llibreta de direiciones
Name[ca]=Obre la llibreta d'adreces
Name[cs]=Otevřít Adresář
Name[da]=Åbn adressebog
Name[de]=Adressbuch öffnen
Name[el]=Άνοιγμα ευρετηρίου διευθύνσεων
Name[es_AR]=Abrir libreta de direcciones
Name[es_ES]=Abrir libreta de direcciones
Name[fi]=Avaa osoitekirja
Name[fr]=Ouvrir un carnet d'adresses
Name[gl]=Abrir a axenda de enderezos
Name[he]=פתיחת ספר כתובות
Name[hr]=Otvori adresar
Name[hu]=Címjegyzék megnyitása
Name[it]=Apri rubrica
Name[ja]=アドレス帳を開く
Name[ko]=주소록 열기
Name[nl]=Adresboek openen
Name[pl]=Książka adresowa
Name[pt_BR]=Catálogo de endereços
Name[ru]=Открыть адресную книгу
Name[sk]=Otvoriť adresár
Name[sv]=Öppna adressboken
Name[uk]=Відкрити адресну книгу
Name[vi]=Mở sổ địa chỉ
Name[zh_CN]=打开通讯录
Name[zh_TW]=開啟通訊錄
Exec=betterbird -addressbook

