[Unit]
Description=STUN and TURN relay server for VoIP and WebRTC
After=network.target

[Service]
User=turnserver
Type=forking
ExecStart=/usr/bin/turnserver -c /etc/turnserver/turnserver.conf -o -v

[Install]
WantedBy=multi-user.target
