[Desktop Entry]
Type=Application
Exec=chromium --app='file:///usr/share/swagger-editor/index.html'
Terminal=False

Name=Swagger Editor
Comment=THE WORLD'S MOST POPULAR API TOOLING

