[submodule "wlroots/"]
	url = https://gitlab.freedesktop.org/wlroots/wlroots.git
[submodule "src/Hyprland-0.7.1beta/subprojects/wlroots"]
	path = src/Hyprland-0.7.1beta/subprojects/wlroots
	url = https://gitlab.freedesktop.org/wlroots/wlroots.git
