[Desktop Entry]
Name=Kuro
Exec=kuro %U
Terminal=false
Type=Application
Icon=kuro
StartupWMClass=Kuro
Comment=An elegant Microsoft ToDo desktop client for Linux.
Categories=Office;
