[Unit]
Description=The Lounge IRC client
After=network.target

[Service]
User=thelounge
Group=thelounge
Type=simple
Environment=THELOUNGE_HOME=/etc/thelounge
ExecStart=/usr/bin/thelounge start
ProtectSystem=strict
ReadWritePaths=/etc/thelounge
ProtectHome=yes
NoNewPrivileges=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
