[Unit]
Description=The Lounge IRC client

[Service]
Type=simple
Environment=THELOUNGE_HOME=~/.thelounge
ExecStart=/usr/bin/thelounge start

[Install]
WantedBy=default.target
