[Desktop Entry]
Exec=/opt/lib32-java6/bin/jconsole
Icon=java
Name[zh]=Java 6 监管器 (32位)
Name=Java 6 Monitoring and Management Console (32-bit)
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Java;
