[Desktop Entry]
Exec=/opt/lib32-java6/bin/jvisualvm
GenericName[zh]=Java 6 性能监视器 (32位)
GenericName=Java 6 Monitoring and Performance Monitoring Tool (32-bit)
Icon=java
Name=Java VisualVM
Path=
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Java;
