[Desktop Entry]
Exec=/opt/lib32-java6/bin/jcontrol
GenericName=Java 6 Environment Settings (32-bit)
GenericName[zh]=Java 6 环境设置 (32位)
Icon=java
Name=Java Control Panel
Path=
StartupNotify=true
Terminal=false
Type=Application
Categories=Settings;Java;
