[Desktop Entry]
Exec=/opt/lib32-java6/jre/bin/javaws-launcher %f
GenericName[zh]=管理运行 Java Web Start 应用程序 (Java6 32位)
GenericName=Manage and run Java Web Start Applications (Java6 32-bit)
Icon=java
MimeType=application/x-java-jnlp-file;
Name[cs]=Java Web Start
Name=Java Web Start
Path=
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;Java;
