pkgbase = xfdashboard
	pkgdesc = Maybe a Gnome shell like dashboard for Xfce
	pkgver = 0.7.5
	pkgrel = 1
	url = http://goodies.xfce.org/projects/applications/xfdashboard/start
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = xfce4-dev-tools
	depends = libwnck3
	depends = clutter
	depends = garcon
	source = https://github.com/gmc-holle/xfdashboard/archive/0.7.5.tar.gz
	sha256sums = ac465e9bfdd4546c83d6b067999b9b6b61070b224b29ab05a7fd04e03f891fac

pkgname = xfdashboard

