[Desktop Entry]
Version=1.0
Name=Franz
Exec=/usr/bin/franz %U
TryExec=/usr/bin/franz
Terminal=false
Type=Application
Icon=franz
StartupWMClass=Franz
GenericName=Internet Messenger
Comment=A free messaging app for services like WhatsApp, Slack, Messenger and many more.
MimeType=x-scheme-handler/franz;
Categories=Network;InstantMessaging;
