pkgbase = xfce-theme-bluebird
	pkgdesc = A light blue Xfce theme, introduced in the release of Xubuntu 10.10.
	pkgver = 1.2
	pkgrel = 3
	url = http://shimmerproject.org/projects/bluebird/
	arch = any
	license = CCPL:by-sa-3.0
	license = GPL
	depends = gtk-engine-murrine
	optdepends = elementary-xfce-icons: matching icon set; use the dark icon theme
	optdepends = gtk-engine-unico: required for gtk3 support
	optdepends = shimmer-wallpapers: contains the Bluebird wallpaper, among others
	source = xfce-theme-bluebird-1.2.tar.gz::https://github.com/shimmerproject/Bluebird/archive/v1.2.tar.gz
	sha256sums = f76520181d9cb74a0cf1c61728ab02a7fb5f0835fef036ebd68f1e89caa0c579

pkgname = xfce-theme-bluebird

