[Desktop Entry]
Name=Tusk
Comment=Refined Evernote desktop app
Exec="/usr/bin/tusk" %U
Terminal=false
Type=Application
Icon=tusk
Categories=Productivity;
