# Maintainer: Chih-Hsuan Yen <yan12125@archlinux.org>
# Forked from extra/thunderbird-i18n
# Contributor: Levente Polyak <anthraxx[at]archlinux[dot]org>
# Contributor: Jan de Groot <jgc@archlinux.org>
# Contributor: Andrea Scarpino <andrea@archlinux.org>
# Contributor: Thomas Baechler <thomas@archlinux.org>

pkgbase=thunderbird-beta-i18n
pkgver={{ pkgver }}
pkgrel=1
url='http://www.mozilla.com/'
arch=('any')
license=('MPL' 'GPL')

pkgname=({% for lang_iso639 in languages.keys() %}
  'thunderbird-beta-i18n-{{ lang_iso639.lower() }}'{% end %}
)
_url=https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/$pkgver/linux-x86_64/xpi
source=({% for lang_iso639 in languages.keys() %}
  "thunderbird-beta-i18n-$pkgver-{{ lang_iso639 }}.xpi::$_url/{{ lang_iso639 }}.xpi"{% end %}
)
sha256sums=({% for sha256sum in sha256sums %}
  '{{ sha256sum }}'{% end %})

# Don't extract anything
noextract=(${source[@]%%::*})

{% for lang_iso639, lang_name in languages.items() %}
package_thunderbird-beta-i18n-{{ lang_iso639.lower() }}() {
  pkgdesc="{{ lang_name }} language pack for Thunderbird Beta"
  # Not assigning upper bound here due to https://bugs.archlinux.org/task/48252
  depends=("thunderbird>={{ min_pkgver }}")
  install -Dm644 thunderbird-beta-i18n-$pkgver-{{ lang_iso639 }}.xpi \
    "$pkgdir/usr/share/mozilla/extensions/{3550f703-e582-4d05-9a08-453d09bdfdc6}/langpack-{{ lang_iso639 }}@thunderbird.mozilla.org.xpi"
}
{% end %}
