[Unit]
Description=tinc vpn
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/tincd --no-detach
ExecReload=/usr/bin/tinc reload

[Install]
WantedBy=multi-user.target
