pkgbase = python2-pyscss
	pkgdesc = a Scss compiler for Python
	pkgver = 1.3.4
	pkgrel = 4
	url = http://pypi.python.org/pypi/pyScss
	arch = any
	license = MIT
	makedepends = python2
	makedepends = python2-distribute
	depends = python2
	depends = python2-six
	depends = python2-pathlib
	depends = python2-enum34
	source = http://pypi.python.org/packages/source/p/pyScss/pyScss-1.3.4.tar.gz
	md5sums = 9527b4864cd6023f77a8277e6fb773d7

pkgname = python2-pyscss

