[Unit]
Description=dufs with config %i
Wants=network.target
After=network.target

[Service]
Type=simple
User=dufs
Group=dufs
ExecStart=/usr/bin/dufs --config /etc/dufs/%i.yaml
# Fix permissions of UNIX sockets
ExecStartPost=/usr/bin/bash -c '/usr/bin/sleep 1; for file in /run/dufs/*; do if [ -S "$file" ]; then /usr/bin/chmod 0660 "$file"; fi; done'

[Install]
WantedBy=multi-user.target