[Unit]
Description=ZJU Connect
After=network.target
[Service]
Restart=on-failure
ExecStart=/usr/bin/zju-connect -config /etc/zju-connect/config.toml
[Install]
WantedBy=multi-user.target
