pkgbase = vo-amrwbenc
	pkgdesc = VisualOn Adaptive Multi Rate Wideband (AMR-WB) encoder
	pkgver = 0.1.3
	pkgrel = 1
	url = http://sourceforge.net/projects/opencore-amr/
	arch = i686
	arch = x86_64
	license = APACHE
	depends = glibc
	options = !emptydirs
	options = !libtool
	source = https://repo.dray.be/package-files/vo-amrwbenc-0.1.3.tar.gz
	sha256sums = 5652b391e0f0e296417b841b02987d3fd33e6c0af342c69542cbb016a71d9d4e

pkgname = vo-amrwbenc

