[Desktop Entry]
Type=Application
Version=1.0
Name=c001apk
Comment=A third-party CoolApk client
Comment[zh_CN]=第三方酷安客户端
Exec=c001apk-flutter
Icon=c001apk-flutter
Terminal=false
StartupNotify=false
Categories=Network
