pkgbase = xinput_calibrator
	pkgdesc = Generic touchscreen calibration program for X.Org
	pkgver = 0.7.5
	pkgrel = 2
	url = http://www.freedesktop.org/wiki/Software/xinput_calibrator/
	arch = i686
	arch = x86_64
	license = MIT
	source = http://github.com/downloads/tias/xinput_calibrator/xinput_calibrator-0.7.5.tar.gz
	md5sums = 20da0a2055a5a75962add8c6b44f60fa

pkgname = xinput_calibrator
