pkgbase = slack-desktop
	pkgdesc = Slack Desktop (Beta) for Linux
	pkgver = 2.1.0
	pkgrel = 1
	url = https://slack.com/apps
	arch = i686
	arch = x86_64
	license = custom
	depends = alsa-lib
	depends = expat
	depends = gconf
	depends = gtk2
	depends = gvfs
	depends = hunspell
	depends = hunspell-en
	depends = libgcrypt
	depends = libgnome-keyring
	depends = libnotify
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	optdepends = gnome-keyring
	source_i686 = https://slack-ssb-updates.global.ssl.fastly.net/linux_releases/slack-desktop-2.1.0-i386.deb
	sha256sums_i686 = ab65a75df0ee199f3b9746eeb1ed7c1a620fbdd8df11dc6be730c48379fe882c
	source_x86_64 = https://slack-ssb-updates.global.ssl.fastly.net/linux_releases/slack-desktop-2.1.0-amd64.deb
	sha256sums_x86_64 = 6b98e9ed0d996d660582ad5866341ae8204304e19370a7149741ed3e3c732e5d

pkgname = slack-desktop

