[Desktop Entry]
Type=Application
Name=Super Productivity
GenericName=ToDo List and Time Tracker
Comment=A todo list and time tracking app
Icon=superproductivity
Exec=superproductivity %U
Terminal=false
Categories=Office;ProjectManagement;
StartupWMClass=superProductivity
