pkgbase = libbs2b
	pkgdesc = Bauer stereophonic-to-binaural DSP effect library
	pkgver = 3.1.0
	pkgrel = 4
	url = http://bs2b.sourceforge.net
	arch = i686
	arch = x86_64
	license = GPL
	depends = libsndfile
	source = http://downloads.sourceforge.net/bs2b/libbs2b-3.1.0.tar.gz
	sha1sums = a71318211611a00bd3d595b0830d2188938ff89d

pkgname = libbs2b

