[Desktop Entry]
Type=Application
Name=SPlayer-Next
Comment=Cross-platform desktop music player with rich lyric support and wide audio format compatibility
Comment[zh_CN]=支持丰富歌词与广泛音频格式的跨平台桌面音乐播放器
Exec=splayer-next %U
Icon=SPlayer-Next
Terminal=false
StartupWMClass=top.imsyy.splayer_next
MimeType=x-scheme-handler/orpheus;
Categories=Audio;Music;AudioVideo;
