[Desktop Entry]
Version=1.0
Type=Application
Name=Ren'Py
GenericName= renpy 
GenericName[fr]= renpy
Comment=A programming language and runtime, intended to ease the creation of visual-novel type games. 
Comment[fr]=Un langage de programmation et un exécutable conçus pour faciliter la création de jeux de type "visual-novel"
Icon=renpy.png
Exec=renpy
Categories=Game;AdventureGame;

