[Desktop Entry]
Name=Charm
Icon=pycharm
Exec=source ~/.bash_profile;/opt/pycharm-professional/bin/charm
MimeType=text/x-python;
NoDisplay=true
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-pycharm
