[Desktop Entry]
Type=Application
Name=v2rayN
GenericName=V2Ray/Xray GUI client
GenericName[zh_CN]=V2Ray/Xray 图形客户端
Comment=A GUI client for Windows, Linux and macOS, support Xray and sing-box and others
Comment[zh_CN]=支持 Xray、sing-box 等多种内核的跨平台图形客户端
Exec=v2rayn
Icon=v2rayn
Terminal=false
Categories=Network;
StartupWMClass=v2rayN
