[Desktop Entry]
Name=Adobe Reader 9
MimeType=application/pdf;application/vnd.fdf;application/vnd.adobe.pdx;application/vnd.adobe.xdp+xml;application/vnd.adobe.xfdf;
Exec=acroread %U
Type=Application
GenericName=PDF Viewer
Terminal=false
Icon=acroread
Comment=Adobe PDF Viewer
X-KDE-StartupNotify=false
Categories=Office;Viewer;
InitialPreference=9
