[Desktop Entry]
Name=Blender-git
Comment=A 3D program
Comment[cs]=Program pro 3D modeling a animaci
Comment[es]=Un programa de 3D
Comment[no]=Et 3d-program
Comment[da]=Et program til 3d-modelering
Exec=blender-2.8
Icon=blender-2.8
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Graphics;3DGraphics;
MimeType=application/blender;application/x-blender;
