[Desktop Entry]
Name=Firefox Nightly
GenericName=Web Browser
Icon=firefox-nightly-icon
Type=Application
Categories=Application;Network;
MimeType=text/html
Encoding=UTF-8
Exec=firefox-nightly %u
Terminal=false
MultipleArgs=false
StartupNotify=false
