[Desktop Entry]
Version=1.0
Name=qolibri
Comment=EPWING Dictionary/Book Viewer
GenericName=EPWING Dictionary/Book Viewer
Exec=/usr/bin/qolibri
Icon=/usr/share/qolibri/icon.png
Terminal=false
Type=Application
Categories=Qt;Education;Languages;
