[Unit]
Description=VMware Host Daemon Certificates Generation
ConditionPathExists=|!/etc/vmware/ssl/rui.key
ConditionPathExists=|!/etc/vmware/ssl/rui.crt

[Service]
UMask=0077
Environment=LD_LIBRARY_PATH=/usr/lib/vmware/lib/libssl.so.1.0.1:/usr/lib/vmware/lib/libcrypto.so.1.0.1
ExecStart=/usr/lib/vmware/bin/openssl req -x509 -days 365 -newkey rsa:2048 -sha256 -keyout /etc/vmware/ssl/rui.key -out /etc/vmware/ssl/rui.crt -config /etc/vmware/ssl/hostd.ssl.config
Type=oneshot
RemainAfterExit=yes
