[Desktop Entry]
Type=Application
Version=1.5
Name=CGoban3
Comment=A KGS client and SGF editor
Icon=cgoban3
Exec=/usr/bin/cgoban3
Terminal=false
MimeType=application/x-go-sgf
Categories=Game;BoardGame
StartupNotify=true
