[Desktop Entry]
Categories=Utility;
Comment=LinDict youdao client
Exec=python2 /opt/lindict/Lindict.py
GenericName=LinDict
Icon=/opt/lindict/youdao.png
MimeType=
Name=LinDict
Path=/opt/lindict
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
