#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Anaconda
Version=2.3.1
Type=Application
Exec=/opt/anaconda/bin/anaconda-navigator
Icon=/opt/anaconda/lib/python3.10/site-packages/anaconda_navigator/static/images/anaconda-icon-256x256.png
Comment=Open Anaconda Navigator
Terminal=false