#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Anaconda
Version=2023.07.1
Type=Application
Exec=/opt/anaconda/bin/anaconda-navigator
Icon=/opt/anaconda/lib/python3.11/site-packages/anaconda_navigator/static/images/anaconda-icon-256x256.png
Comment=Open Anaconda Navigator
Terminal=false