[Desktop Entry]
Categories=Development;
Exec=/usr/bin/visual-studio-code %f
Icon=visual-studio-code
Terminal=false
Type=Application
StartupWMClass=code
Name=Visual Studio Code
Comment=Editor for building and debugging modern web and cloud applications
Categories=Development;WebDevelopment;IDE;
StartupNotify=true
