[Desktop Entry]
Categories=Development;
Exec=/usr/bin/visual-studio-code
Icon=visual-studio-code
Terminal=false
Type=Application
Name=Visual Studio Code
Comment=Editor for building and debugging modern web and cloud applications
