[Desktop Entry]
Name=Dropbox
GenericName=Network Storage
Comment=Dropbox is a free service that lets you bring your photos, docs, and videos anywhere and share them easily
Exec=dropbox
Icon=dropbox
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
