[Desktop Entry]
Name=DesktopNaotu
Name[zh_CN]=脑图桌面版
Comment=A cross-platform multilingual Mind Map Tool
Exec=desktop-naotu %U
Terminal=false
Type=Application
Icon=desktop-naotu
Categories=Office;
