[Desktop Entry]
Type=Application
Name=Defold
Comment=Defold is a completely free to use game engine for development of desktop, mobile and web games.
Exec=/opt/Defold/Defold
Path=/opt/Defold
Icon=defold
Terminal=false
Categories=Development;Utility;
