[Desktop Entry]
Name=Paradox Launcher
Comment=Application for managing and playing games on Paradox Launcher
Exec=/usr/bin/paradox-launcher %U
Icon=paradox-launcher
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
