[Desktop Entry]
Type=Application
Version=1.0
Name=CLion
GenericName=clion
Comment=C/C++ IDE. Free 30-day trial.
Icon=clion
Exec="/usr/bin/clion" %f
Terminal=false
Categories=Development;IDE;
StartupNotify=true
StartupWMClass=jetbrains-clion
