[Desktop Entry]
Version=1.0
Type=Application
Name=CLion
Icon=clion
Exec="/usr/bin/clion" %f
Comment=A cross-platform IDE for C and C++
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-clion
