[Desktop Entry]
Type=Application
Name=DOSBox-X
GenericName=DOS Emulator
GenericName[es]=Emulador de DOS
Comment=Run DOS games and apps
Comment[es]=Ejecuta juegos y aplicaciones DOS
Exec=dosbox-x
Icon=dosbox
Terminal=false
Categories=Game;Emulator
