[Desktop Entry]
Name=Upscayl
GenericName=Image Upscaler
GenericName[zh_CN]=图像放大工具
Comment=A free and open source AI Image Upscaler App
Comment[zh_CN]=基于AI的免费开源图像放大工具
Exec=upscayl %U
Terminal=false
Type=Application
Icon=upscayl
Categories=Graphics;
Keywords=ai;upscale;image;enlarge;enhance;photo;
