[Desktop Entry]
Version=1.0
Type=Application
Name=Ghidra (root)
Comment=Software reverse engineering framework (Run as root)
Exec=pkexec /opt/ghidra/ghidraRun
Icon=ghidra
Categories=Utility;
Terminal=false
