[Unit]
Description=A distributed C/C++ compiler for armv8
Documentation=man:distccd(1)

[Service]
EnvironmentFile=/etc/conf.d/distccd-armv8
ExecStart=/usr/bin/distccd-armv8 --daemon --no-detach $DISTCC_ARGS

[Install]
WantedBy=multi-user.target
