CONFIG_DRM_SIMPLEDRM_BACKLIGHT=n
CONFIG_BACKLIGHT_GPIO=n
CONFIG_DRM_APPLE=m
CONFIG_APPLE_SMC=m
CONFIG_APPLE_SMC_RTKIT=m
CONFIG_APPLE_RTKIT=m
CONFIG_APPLE_MBOX=m
CONFIG_GPIO_MACSMC=m
CONFIG_LOCALVERSION="-edge-ARCH"
CONFIG_DRM_VGEM=n
CONFIG_DRM_SCHED=y
CONFIG_DRM_GEM_SHMEM_HELPER=y
CONFIG_DRM_ASAHI=m
CONFIG_SUSPEND=y
