[Desktop Entry]
Exec=/usr/lib/jvm/java-7-jdk/bin/jvisualvm
GenericName=Java Monitoring and Performance Monitoring Tool
Icon=sun-java-jdk7
Name=Java VisualVM
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Java;
