# example configuration
# TUN device name
TUN=tun1
# Enable package forwarding or not. 0=no, 1=yes.
FORWADING=1
# Allow DHCP or not. 0=no, 1=yes. Must enable package forwarding.
DHCP=0
# Static address. Useful when DHCP disabled.
ADDRESS=10.10.10.2
# Community name.
COMMUNITY=n2n
# Key
KEY=12345678
# Netmask. Leave blank if you use DHCP
NETMASK=255.255.255.0
# MAC address. Leave blank if you don't want to set a static one. Format: 01:02:03:04:05:06
MACADDR=

# Supernode server address and port.
SUPERNODE=42.159.99.50:6060
# Local port
LPORT=
# MTU
MTU=
# Management UDP Port
TPORT=
# Periodically resolve supernode IP (when supernodes are running on dynamic IPs)
PRESOLV=0