[Unit]
Description=N2N VPN Edge
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/share/n2n/edge.sh %i

[Install]
WantedBy=multi-user.target

