[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=FreeCAD
Comment=General purpose 3D CAD modeler
GenericName=CAD Application
Exec=/usr/bin/freecad %F
Icon=freecad
Path=/usr/share/freecad
Terminal=false
StartupNotify=true
Categories=Application;Science;Math;Education;Graphics;3DGraphics;
MimeType=application/x-extension-fcstd;
