[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=FreeCAD
Comment=A general purpose 3D CAD modeler
GenericName=CAD Application
Exec=/usr/bin/freecad %F
Path=/usr/share/freecad
Terminal=false
Type=Application
Icon=freecad
Categories=Application;Science;Math;Education;
StartupNotify=true
MimeType=application/x-extension-fcstd;
