[Desktop Entry]
Version=1.0
Type=Application
Name=HMCL
Comment=Hello Minecraft! Launcher, a powerful Minecraft launcher.
Exec=hmcl-bin
Icon=hmcl-bin
Terminal=false
StartupNotify=false
Categories=Game;
StartupWMClass=org.jackhuang.hmcl.Launcher
