[Desktop Entry]
Categories=Utility;
Comment=Proton Authenticator
Exec=proton-authenticator
StartupWMClass=proton-authenticator
Icon=proton-authenticator
Name=Proton Authenticator
Terminal=false
Type=Application
