[Unit]
Description=Markdown note taking application
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/deno run --allow-all --unstable-kv --unstable-worker-options /usr/lib/silverbullet/silverbullet.js --hostname ${HOST} --port ${PORT} /var/lib/silverbullet
StateDirectory=silverbullet
CacheDirectory=silverbullet
Environment=DENO_DIR=/var/cache/silverbullet
EnvironmentFile=/etc/default/silverbullet

Restart=on-failure
RestartSec=5
TimeoutStopSec=10

# isolation
DynamicUser=yes
LockPersonality=yes
NoNewPrivileges=yes
PrivateMounts=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=no
ProtectKernelTunables=no
ProtectSystem=strict
RemoveIPC=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

[Install]
WantedBy=multi-user.target

# vim: ft=systemd
