[Desktop Entry]
Type=Application
Name=LibreSprite
Comment=Sprite and pixelart software
Icon=libresprite
Exec=libresprite %U
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=image/bmp;image/gif;image/jpeg;image/png;image/x-pcx;image/x-tga;image/vnd.microsoft.icon;video/x-flic;image/webp;image/x-aseprite;
Encoding=UTF-8
