[Desktop Entry]
Type=Application
Name=Tor Browser Dev (REPL_LANGUAGE)
GenericName=Web Browser
Comment=REPL_COMMENT
Categories=Network;
Exec=/usr/bin/REPL_NAME
Icon=/usr/share/pixmaps/REPL_NAME.png
