[Unit]
Description=A file transfer program to keep remote files in sync
After=network.target

[Service]
ExecStart=/usr/bin/rsync --daemon --no-detach
RestartSec=1
ProtectSystem=full
ProtectHome=off
PrivateDevices=on
NoNewPrivileges=on

[Install]
WantedBy=multi-user.target
