pkgbase = gottet
	pkgdesc = A tetris clone using the Qt GUI toolkit
	pkgver = 1.1.7
	pkgrel = 1
	url = https://gottcode.org/gottet/
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = qt5-tools
	depends = qt5-base
	source = https://gottcode.org/gottet/gottet-1.1.7-src.tar.bz2
	sha256sums = 7cc6c49cb191a264dccf18659b885ead921f01ad496dac9774c7ec49428c8a7d

pkgname = gottet

