[Desktop Entry]
Name=Mate Engine
Comment=A free Desktop Mate alternative with custom VRM support
Exec=mateengine
Icon=mateengine
Terminal=false
Type=Application
Categories=Game;
Keywords=desktop;pet;anime;vrm;
