[Desktop Entry]
Type=Application
Name=Fly Narwhal
Name[zh_CN]=飞鲸影视
Comment=基于 Compose Multiplatform 框架开发的适用于飞牛影视的跨平台客户端
Keywords=Video;
Exec=flynarwhal %U
Icon=flynarwhal
Terminal=false
Categories=AudioVideo;Video;
StartupWMClass=flynarwhal
