[Unit]
Description=Uptime-Kuma - A uptime monitor
Documentation=https://github.com/louislam/uptime-kuma
After=network-online.target
Wants=network-online.target

[Service]
DynamicUser=yes
StateDirectory=uptime-kuma
WorkingDirectory=/usr/lib/node_modules/uptime-kuma/
Environment="DATA_DIR=/var/lib/uptime-kuma/"
ExecStart=/usr/bin/node ./server/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
