[Desktop Entry]
Categories=Chat;Network;
Comment=DingTalk
Exec=dingtalk %u
GenericName=dingtalk
Icon=dingtalk
Keywords=dingtalk;
MimeType=x-scheme-handler/dingtalk;
Name=DingTalk
Name=DingTalk
Name[zh_CN]=钉钉
Type=Application
X-Deepin-Vendor=user-custom
