[Desktop Entry]
Version=1.0
Type=Application
Name=Activate Linux
Comment=The "Activate Windows" watermark ported to Linux with Xlib and cairo in C
Exec=activate-linux
Icon=activate-linux
Terminal=false
StartupNotify=false
Categories=Application;
