# https://gitea.com/gitea/act_runner/src/tag/v0.2.6/examples/vm/rootless-docker.md
[Unit]
Description=Gitea Actions runner
Documentation=https://gitea.com/gitea/act_runner
After=docker.service

[Service]
Type=exec
User=act_runner
Environment=HOME=/var/lib/act_runner
WorkingDirectory=/var/lib/act_runner
ExecStart=/usr/bin/act_runner daemon -c /etc/act_runner/act_runner.yaml
ExecReload=/usr/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=2
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=default.target
