[Desktop Entry]
Type=Application
Name=Ciyue
Name[zh_CN]=词悦
Comment=A mdict dictionary with Android/Windows/Linux support
Comment[zh_CN]=支持 Android/Windows/Linux 的 mdict 词典
Exec=ciyue
Icon=ciyue
Terminal=false
Categories=Dictionary;Education
