[Desktop Entry]
Type=Application
Name=Signal
Comment=Electron application that links with Signal on mobile
Icon=signal-desktop
Exec=signal-desktop
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=Signal
