[Unit]
Description=Everything is RSSible
After=network.target network-online.target

[Service]
User=rsshub
Group=rsshub
EnvironmentFile=/etc/rsshub/rsshub.conf
Environment=NO_LOGFILES=true
Environment=NODE_ENV=production
WorkingDirectory=/opt/rsshub
ExecStart=/usr/bin/node /opt/rsshub/dist/index.js
KillMode=mixed
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
