# From: https://github.com/github/gitignore/blob/master/ArchLinuxPackages.gitignore

*.tar
*.tar.*
*.zip
*.tgz
*.log
*.log.*
*.sig

# makepkg working folders
pkg
src

#
# Additional ignore patterns:
#

# Source files
*.deb
*.gem
*.out
*.rpm
*.html

# Ignore package source folders
*/*
