[Desktop Entry]
Name[bg]=Fractal
Name[ca]=Fractal
Name[cs]=Fractal
Name[da]=Fractal
Name[de]=Fractal
Name[el]=Fractal
Name[en_GB]=Fractal
Name[eo]=Fraktalo
Name[es]=Fractal
Name[eu]=Fractal
Name[fa]=برخال
Name[fi]=Fractal
Name[fr]=Fractal
Name[fur]=Fractal
Name[fy]=Fractal
Name[gl]=Fractal
Name[he]=פרקטל
Name[hi]=फ्रैक्टल
Name[hr]=Fractal
Name[hu]=Fraktál
Name[id]=Fractal
Name[it]=Fractal
Name[ja]=Fractal
Name[ka]=ფრაქტალი
Name[nb]=Fractal
Name[nl]=Fractal
Name[oc]=Fractal
Name[pl]=Fractal
Name[pt]=Fractal
Name[pt_BR]=Fractal
Name[ro]=Fractal
Name[ru]=Fractal
Name[sl]=Fraktal
Name[sr]=Фрактал
Name[sr@latin]=Fraktal
Name[sv]=Fractal
Name[th]=Fractal
Name[tr]=Fractal
Name[uk]=Фрактал
Name[uz]=Fraktal
Name[zh_CN]=Fractal
Name=Fractal
Comment[bg]=Fractal е децентрализиран, сигурен клиент за изпращане на съобщения за съвместна групова комуникация.
Comment[ca]=Fractal és un client de missatgeria segur descentralitzat per a la comunicació col·laborativa de grup.
Comment[cs]=Fractal je decentralizovaný a bezpečný komunikační klient pro spolupráci ve skupinách.
Comment[da]=Fractal er en decentraliseret, sikker sametaleklient til kommunikation i grupper som arbejder sammen.
Comment[de]=Fractal ist ein dezentrales, sicheres Nachrichtenprogramm für gemeinschaftliche Gruppenkommunikation.
Comment[en_GB]=Fractal is a decentralised, secure messaging client for collaborative group communication.
Comment[eo]=Fraktalo estas malcentra, sekura mesaĝilo por kunlabora grupkomunikado.
Comment[es]=Fractal es un cliente de mensajería descentralizado y seguro para comunicación de grupos de colaboración.
Comment[eu]=Fractal lankidetzako talde-komunikaziorako mezularitza-bezero seguru eta deszentralizatua da.
Comment[fa]=برخال کارخواه پیام‌رسانی نامتمرکز و ایمن برای ارتباطات گروهی مشترک است.
Comment[fi]=Fractal on hajautettu ja turvallinen viestintäsovellus ryhmäviestintään.
Comment[fr]=Fractal est un client de messagerie décentralisée et sécurisée pour la communication en groupes collaboratifs.
Comment[fur]=Fractal al è un client par mandâ messaçs decentralizât e sigûr pe comunicazion di grups di colaborazion.
Comment[fy]=Fractal is in desintralisearre, feilige kliïnt foar groepspetearen
Comment[gl]=Fractal é un cliente de mensaxaría segura, descentralizado para a comunicación grupal colaborativa.
Comment[he]=פרקטל הוא לקוח מבוזר ומאובטח להתכתבות לטובת תקשורת קבוצתית שיתופית.
Comment[hi]=फ्रैक्टल सहयोगात्मक समूह संचार के लिए एक विकेन्द्रीकृत, सुरक्षित मैसेजिंग क्लाइंट है।
Comment[hr]=Fractal je decentraliziran, siguran klijent za razmjenu poruka za zajedničku grupnu komunikaciju.
Comment[hu]=A Fraktál egy decentralizált, biztonságos üzenetküldő kliens együttműködő csoportos kommunikációhoz.
Comment[id]=Fractal adalah klien perpesanan yang terdesentralisasi dan aman untuk komunikasi grup kolaboratif.
Comment[it]=Fractal è un client sicuro e decentralizzato di messaggistica per la comunicazione collaborativa tra gruppi.
Comment[ja]=Fractal は協力してグループコミュニケーションを行うための、分散型で安全なメッセージングクライアントです。
Comment[nb]=Fractal er en desentralisert og sikker meldingsapp til samarbeid og kommunikasjon i grupper.
Comment[nl]=Fractal is een gedecentraliseerde, veilige berichtentoepassing voor gemeenschappelijke groepscommunicatie.
Comment[pl]=Fractal jest zdecentralizowanym, bezpiecznym komunikatorem do komunikacji wśród współpracujących grup.
Comment[pt]=Fractal é um cliente de mensageria descentralizado e seguro para comunicação colaborativa em grupo.
Comment[pt_BR]=Fractal é um cliente de mensageria descentralizado e seguro para comunicação colaborativa em grupo.
Comment[ro]=Fractal este un client de mesagerie sigur, descentralizat pentru comunicarea colaborativă în grupuri.
Comment[ru]=Fractal — это децентрализованный, безопасный клиент обмена сообщениями для совместного группового общения.
Comment[sk]=Fractal je decentralizovaný bezpečný klient určený na  okamžité konverzácie a vzájomnú komunikáciu v skupinách.
Comment[sl]=Fraktal je decentraliziran in varen program za hipno sporočanje v sodelovalnih okoljih.
Comment[sr]=Фрактал је децентрализован, безбедан клијент за дописивање у комуникацији сарадничких група.
Comment[sr@latin]=Fraktal je decentralizovan, bezbedan klijent za dopisivanje u komunikaciji saradničkih grupa.
Comment[sv]=Fractal är en decentraliserad, säker meddelandeklient för samarbetande gruppkommunikation.
Comment[th]=Fractal เป็นไคลเอนต์ส่งข้อความแบบกระจายอำนาจที่ปลอดภัยสำหรับการสื่อสารร่วมมือกันแบบกลุ่ม
Comment[tr]=Fractal iş birlikli küme iletişimi için dağıtık, güvenli mesajlaşma istemcisidir.
Comment[uk]=«Фрактал» — децентралізований, безпечний клієнт обміну повідомленнями для спільного групового спілкування.
Comment[uz]=Fractal hamkorlikda guruhli muloqot uchun markazlashtirilmagan, xavfsiz xabar almashish mijozidir.
Comment[zh_CN]=Fractal 是一个用于团组交流的分布式、保密聊天客户端。
Comment=Fractal is a decentralized, secure messaging client for collaborative group communication.
GenericName[bg]=Групово общуване с „Fractal“
GenericName[ca]=Missatgeria de grup Fractal
GenericName[cs]=Skupinová komunikace Fractal
GenericName[da]=Fractal-gruppesamtale
GenericName[de]=Fractal-Gruppenkommunikation
GenericName[en_GB]=Fractal group messaging
GenericName[eo]=Fraktala grupmesaĝado
GenericName[es]=Mensajería Fractal
GenericName[eu]=Fractal talde-mezularitza
GenericName[fa]=پیام‌رسانی گروهی برخال
GenericName[fi]=Fractal-ryhmäviestintä
GenericName[fr]=Messagerie de groupe Fractal
GenericName[fur]=Messaçs di grup Fractal
GenericName[fy]=Fractal groepspetearen
GenericName[gl]=Mensaxaría grupal de Fractal
GenericName[he]=פרקטל להתכתבות קבוצתית
GenericName[hi]=फ्रैक्टल ग्रुप मैसेजिंग
GenericName[hr]=Fractal grupna razmjenu poruka
GenericName[hu]=Fraktál csoportos üzenetküldés
GenericName[id]=Perpesanan grup Fractal
GenericName[it]=Messaggistica di gruppo Fractal
GenericName[ja]=Fractal グループメッセージング
GenericName[nb]=Meldinger
GenericName[nl]=Fractal groepsberichten
GenericName[pl]=Wiadomości grupowe Fractal
GenericName[pt]=Mensagens de grupo Fractal
GenericName[pt_BR]=Mensagens de grupo Fractal
GenericName[ro]=Mesagerie de grup Fractal
GenericName[ru]=Fractal групповой обмен сообщениями
GenericName[sk]=Skupinové konverzácie Fractal
GenericName[sl]=Skupinsko sporočanje Fraktal
GenericName[sr]=Фрактал групно дописивање
GenericName[sr@latin]=Fraktal grupno dopisivanje
GenericName[sv]=Fractal gruppmeddelanden
GenericName[th]=โปรแกรมส่งข้อความแบบกลุ่ม Fractal
GenericName[tr]=Fractal küme mesajlaşma
GenericName[uk]=Груповий обмін повідомленнями у «Фракталі»
GenericName[uz]=Fraktal guruh xabarlari
GenericName[zh_CN]=Fractal 团组聊天
GenericName=Fractal group messaging
Exec=env _portableConfig=org.gnome.Fractal portable -- %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Fractal
Type=Application
StartupNotify=true
X-GNOME-UsesNotifications=true
Categories=GNOME;GTK;Network;InstantMessaging;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bg]=matrix;matrix.org;chat;irc;communications;talk;riot;element;чат;комуникации;разговори;разговори;интернет;матрикс;матрица;айерси;ай ер си;мирца;eлемент;
Keywords[ca]=Matrix;matrix.org;xat;irc;comunicacions;parlar;riot;element;
Keywords[cs]=Matrix;matrix.org;chat;irc;diskuze;pokec;konverzace;komunikace;riot;element;
Keywords[da]=Matrix;matrix.org;chat;irc;kommunikationer;snak;riot;element;
Keywords[de]=Matrix;matrix.org;chat;irc;communications;talk;riot;element;Unterhaltung;Kommunikation;Gespräch;
Keywords[en_GB]=Matrix;matrix.org;chat;irc;communications;talk;riot;element;
Keywords[es]=Matrix;matrix.org;chat;irc;comunicaciones;hablar;conversación;riot;elemento;
Keywords[eu]=Matrix;matrix.org;berriketa;irc;komunikazioak;talk;riot;element;
Keywords[fa]=Matrix;matrix.org;chat;irc;communications;talk;riot;element;fractal;ماتریکس;ماتریس;گفت‌وگو;گفتگو;المنت;گپ;پیام‌رسان;پیامرسان;
Keywords[fi]=Matrix;matrix.org;chat;irc;communications;talk;riot;element;keskustelu;pikaviestin;
Keywords[fr]=Matrix;matrix.org;chat;discussion;irc;communications;parler;conversation;riot;element;
Keywords[fy]=Matrix;matrix.org;chat;petear;irc;communications;kommunikaasje;talk;prate;riot;element;
Keywords[gl]=Matrix;matrix.org;chat;irc;comunicacións;falar;riot;element;
Keywords[he]=‫Matrix;matrix.org;מטריקס;מאטריקס;שיח;שיחה;שיחוח;צ׳אט;צ'אט;צ׳ט;צ'אט;תקשורת;התקשרות;תקשור;אלמנט;ריוט;דיבור;
Keywords[hi]=मैट्रिक्स;matrix.org;चैट;irc;संचार;talk;riot;element;
Keywords[hr]=Matrix;matrix.org;chat;irc;komunikacija;razgovor;riot;element;
Keywords[hu]=Matrix;matrix.org;csevegés;irc;kommunikáció;beszélgetés;riot;element;
Keywords[id]=Matrix;matrix.org;obrolan;irc;komunikasi;berbicara;riot;element;
Keywords[it]=Matrix;matrix.org;chat;irc;conversazione;comunicazioni;parlare;riot;element;
Keywords[nb]=Matrix;matrix.org;meldinger;chat;samtaler;kommunikasjon;nettprat;riot;element;
Keywords[nl]=Matrix;matrix.org;chat;irc;communications;talk;riot;element;gesprek;praten;chatten;praat;praten;babbelen;communicatie;space;spaces;groepschat;messenger;
Keywords[pl]=Matrix;matrix.org;czat;chat;irc;komunikacja;komunikator;im;wiadomość;rozmowa;riot;element;
Keywords[pt]=Matrix;matrix.org;bate-papo;irc;comunicações;conversa;riot;elemento;
Keywords[pt_BR]=Matrix;matrix.org;bate-papo;irc;comunicações;conversa;riot;element;
Keywords[ro]=Matrix;matrix.org;chat;irc;communications;talk;riot;element;matrice;discuție;conversație;comunicații;revoltă;
Keywords[ru]=Matrix;matrix.org;chat;irc;communications;talk;riot;element;матрикс;чат;общение;
Keywords[sl]=Matrix;matrix.org;chat;irc;communications;talk;riot;klepet;čet;element;klepetalnica;klepetalnice;
Keywords[sr]=матрикс;ћаскање;ирц;комуникација;разговор;Matrix;matrix.org;chat;irc;communications;talk;riot;element;
Keywords[sr@latin]=matriks;ćaskanje;komunikacija;razgovor;Matrix;matrix.org;chat;irc;communications;talk;riot;element;
Keywords[sv]=Matrix;matrix.org;chatt;irc;kommunikation;samtal;riot;element;
Keywords[th]=Matrix;matrix.org;แชท;irc;สื่อสาร;คุย;riot;element;
Keywords[tr]=Matrix;matrix.org;sohbet;söyleşi;irc;iletişim;konuşma;riot;element;
Keywords[uk]=Matrix;matrix.org;chat;irc;communications;talk;riot;element;матрікс;метрікс;матриця;чат;балачка;спілкування;ірк;ріот;райот;елемент;
Keywords[uz]=Matrix;matrix.org;chat;irc;communications;talk;to'polon;element;
Keywords[zh_CN]=矩阵;沟通;交流;聊天;Matrix;matrix.org;chat;irc;communications;talk;riot;element;
Keywords=Matrix;matrix.org;chat;irc;communications;talk;riot;element;
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
DBusActivatable=false
MimeType=x-scheme-handler/matrix;