[Unit]
Description=VMware Host Daemon
Wants=vmware-hostd-certificates.service
After=vmware-hostd-certificates.service

[Service]
ExecStartPre=/usr/bin/mkdir -p /var/run/vmware
ExecStart=/usr/bin/vmware-hostd -a /etc/vmware/hostd/config.xml

[Install]
WantedBy=multi-user.target
