[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Icon=phpstorm
Exec="/opt/phpstorm/bin/phpstorm.sh" %f
Comment=Lightning-smart PHP IDE
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-phpstorm
