[Unit]
Description=Shadowsocks-Rust Server Service
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/ssserver-rust -c /etc/shadowsocks-rust/%i.json --log-without-time

[Install]
WantedBy=multi-user.target
