[Desktop Entry]
Version=1.0
Type=Application
Name=Autodesk EAGLE
TryExec=/usr/bin/eagle
Exec=eagle %U
Icon=eagle.png
Categories=Development;
MimeType=application/x-eagle-schematic;application/x-eagle-board;application/x-eagle-project;application/x-eagle-library;
