[Desktop Entry]
Name=Pomotroid
Comment=A simple and visually-pleasing Pomodoro timer
Exec=/usr/bin/pomotroid
Terminal=false
Type=Application
Icon=pomotroid
StartupWMClass=Pomotroid
Categories=Utility;
