[Desktop Entry]
Type=Application
Name=Geph GUI
Exec=/usr/bin/gephgui --no-sandbox
Icon=gephgui
Categories=Network;
Comment=Geph connects you with the censorship-free Internet, even when nothing else works
