[Desktop Entry]
Type=Application
Version=1.0
Name=SAOImageDS9
Comment=An astronomical imaging and data visualization application
TryExec=ds9
Exec=ds9 %F
Icon=ds9
Terminal=false
Categories=Science;X-Education;X-Astronomy;X-Astrophysics;X-Imaging;
MimeType=image/x-fits;
