[Unit]
Description=A file transfer program to keep remote files in sync
After=network.target

[Service]
ExecStart=-/usr/bin/rsync --daemon
StandardInput=socket
StandardOutput=inherit
StandardError=journal
ProtectSystem=full
ProtectHome=off
PrivateDevices=on
NoNewPrivileges=on
