[Unit]
Description=Plex Media Server
After=network.target

[Service]
WorkingDirectory=/opt/plexmediaserver
EnvironmentFile=/etc/conf.d/plexmediaserver
ExecStart=/opt/plexmediaserver/Plex\x20Media\x20Server
Type=simple
User=plex
Group=plex
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
StandardOutput=null

[Install]
WantedBy=multi-user.target
