[Desktop Entry]
Name=Oracle Java 15 Console
Comment=Oracle Java 15 Monitoring and Management Console
Keywords=java;console;monitoring
Exec=/usr/lib/jvm/java-15-jdk/bin/jconsole
Terminal=false
Type=Application
Icon=java-jdk
Categories=Application;System;
