[Desktop Entry]
Name=Oracle Java 16 Console
Comment=Oracle Java 16 Monitoring and Management Console
Keywords=java;console;monitoring
Exec=/usr/lib/jvm/java-16-jdk/bin/jconsole
Terminal=false
Type=Application
Icon=java-jdk
Categories=Application;System;
