[Desktop Entry]
Name=Oracle Java 17 Console
Comment=Oracle Java 17 Monitoring and Management Console
Keywords=java;console;monitoring
Exec=/usr/lib/jvm/java-17-jdk/bin/jconsole
Terminal=false
Type=Application
Icon=java-jdk
Categories=Application;System;
