[Desktop Entry]
Name=Oracle Java 19 Shell
Comment=Oracle Java 19 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-19-jdk/bin/jshell
Terminal=true
Type=Application
Icon=java-jdk
Categories=Application;System;
