[Desktop Entry]
Name=Oracle Java 14 Shell
Comment=Oracle Java 14 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-14-jdk/bin/jshell
Terminal=true
Type=Application
Icon=java14-jdk
Categories=Application;System;
