[Desktop Entry]
Name=Oracle Java 13 Shell
Comment=Oracle Java 13 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-13-jdk/bin/jshell
Terminal=true
Type=Application
Icon=java13-jdk
Categories=Application;System;
