[Unit]
Description=Next-generation open source cloud storage with advanced features on privacy protection and teamwork.
After=syslog.target network.target

[Service]
Type=forking
WorkingDirectory=/srv/seafile/%i
ExecStart=/usr/bin/seafile-admin start
ExecStop=/usr/bin/seafile-admin stop
PIDFile=/srv/seafile/%i/seafile-data/pids/seaf-server.pid
User=seafile

[Install]
WantedBy=multi-user.target
