[Desktop Entry]
Name=Bobby
Type=Application
Exec=bobby-portable %f
Icon=studio.planetpeanut.Bobby
Categories=Utility;
MimeType=application/vnd.sqlite3;application/x-sqlite3;