pkgbase = assimp-net
	pkgdesc = A .NET wrapper for the Open Asset Import Library (Assimp).
	pkgver = 3.3.1
	pkgrel = 4
	url = https://www.nuget.org/packages/AssimpNet/
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = dos2unix
	makedepends = subversion
	makedepends = mono
	depends = assimp
	depends = opentk
	source = https://github.com/assimp/assimp-net/archive/3.3.1.tar.gz
	source = assimp-net.pc.in
	source = AssimpNet.dll.config
	sha1sums = SKIP
	sha1sums = 9d1ad601ca7e56327068840b10cab32da90cab04
	sha1sums = bfd87bdfad2eeb99553b8e7ba4b2029cbbf11042

pkgname = assimp-net

