[Desktop Entry]
Version=1.0
Type=Application
Name=Packetry
Comment=USB 2.0 protocol analysis app for use with Cynthion
Exec=packetry
Icon=packetry
Terminal=false
StartupNotify=false
Categories=Application;System
