[Desktop Entry]
Exec=jvisualvm
GenericName=Java Monitoring and Performance Monitoring Tool
Icon=sun-java
Name=Java VisualVM
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Java;
