[Desktop Entry]
Exec=jconsole
Icon=sun-java
Name=Java Monitoring and Management Console
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Java;
