[Desktop Entry]
Exec=/usr/lib/jvm/java-<version>-jdk/bin/jconsole
Icon=sun-java-jdk<version>
Name=Java Monitoring and Management Console
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Java;
