[Desktop Entry]
Exec=/usr/lib/jvm/java-9-jdk/bin/jconsole
Icon=sun-java-jdk9
Name=Java Monitoring and Management Console
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Java;
