[Desktop Entry]
Exec=/usr/lib/jvm/java-8-jdk/bin/jmc
Icon=sun-java-jdk8
Name=Java Mission Control
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Java;
