[Desktop Entry]
Exec=/usr/lib/jvm/java-<version>-jdk/bin/policytool
Icon=sun-java-jdk<version>
Name=Java Policy Settings
StartupNotify=true
Terminal=false
Type=Application
Categories=Settings;Java;
