[Desktop Entry]
Name=Firefox Developer
GenericName=Web Browser
Icon=firefox-developer-icon
Type=Application
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;
Encoding=UTF-8
Exec=firefox-developer --class=firefox-developer %u
Terminal=false
MultipleArgs=false
StartupNotify=true
