[Desktop Entry]
Version=1.0
Name=RESP.app
Comment=Cross-platform Developer GUI for Redis
Type=Application
Categories=Development;
Exec=resp
Terminal=false
StartupNotify=true
Icon=resp.png
