[Unit]
Description=Nextcloud; generate previews for new files only

[Service]
User=http
ExecStart=/usr/share/webapps/nextcloud/occ preview:pre-generate

[Install]
WantedBy=basic.target
