[Unit]
Description=Nextcloud; update all applications

[Service]
User=http
ExecStart=/usr/share/webapps/nextcloud/occ app:update --all

[Install]
WantedBy=basic.target
