[Desktop Entry]
Name=SmartGit
Comment=Graphical Git/Hg client
Comment[cs]=Grafický Git/Hg klient
Comment[de]=Ein grafischer Git/Hg Client
Comment[zh_CN]=图形界面的 Git/Hg 客户端
Comment[zh_HK]=圖形介面的 Git/Hg 客戶端
Comment[zh_TW]=圖形介面的 Git/Hg 客戶端
Exec=smartgit
Icon=smartgit
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Development;
StartupWMClass=SmartGit
MimeType=application/smartgit;application/x-smartgit;
