[Unit]
Description=VMware Horizon USB daemon
ConditionPathExists=/sys/bus/usb/devices/usb1

[Service]
Type=forking
ExecStart=/usr/lib/systemd/scripts/vmware-horizon-usb

[Install]
WantedBy=multi-user.target
