[Desktop Entry]
Name=ParaView
GenericName=Data Viewer
Comment=ParaView allows visualization of large data sets
Type=Application
Terminal=false
Icon=paraview
Categories=Graphics;
Exec=/usr/bin/paraview
