[Desktop Entry]
Name=WhatsApp
Comment=WhatsApp desktop built with nativefier (electron)
Exec=whatsapp-nativefier
Icon=whatsapp-nativefier
Encoding=UTF-8
StartupWMClass=whatsapp-nativefier
Terminal=false
StartupNotify=true
Type=Application
Categories=Network;Chat;InstantMessaging;Application;
