[Unit]
Description=start mentohust
Wants=network.target
Before=network.target

[Service]
Type=simple
#Type=oneshot
#RemainAfterExit=yes
ExecStart=/usr/bin/mentohust -b0
ExecStop=/usr/bin/mentohust -k
Restart=on-failure
RestartSec=3

[Install]
Alias=multi-user.target.wants/mentohust.service
