[Unit]
Description=BitTorrent Sync service for %i
After=network.target

[Service]
User=%i
ExecStart=/usr/bin/btsync-wrapper --config %h/.config/btsync/btsync.conf --nodaemon
Restart=on-abort

[Install]
WantedBy=multi-user.target
