[Unit]
Description=BitTorrent Sync service
After=network.target

[Service]
User=btsync
Group=btsync
ExecStart=/usr/bin/btsync --config /etc/btsync.conf --nodaemon
Restart=on-abort

[Install]
WantedBy=multi-user.target
