[Desktop Entry]
Type=Application
Version=1.1
Name=osu!lazer
Icon=osu-lazer
MimeType=application/x-osu-lazer-beatmap;application/x-osu-lazer-skin;application/zip;application/x-rar;
Comment=Open source free-to-win rhythm game
Exec=/usr/bin/osu-lazer %F
Terminal=false
Categories=Game
X-Desktop-File-Install-Version=0.24
StartupWMClass=osu!
StartupNotify=true
