[Unit]
Description=Run planisphere-report daily
Requires=network-online.target

[Timer]
OnUnitActiveSec=86400
OnActiveSec=60
Persistent=true

[Install]
WantedBy=timers.target
