pkgbase = megatools
	pkgdesc = Command line client application for Mega.nz
	pkgver = 1.10.2
	pkgrel = 1
	url = http://megatools.megous.com
	arch = i686
	arch = x86_64
	arch = armv7h
	license = GPL
	makedepends = asciidoc
	depends = curl
	depends = glib2
	depends = openssl
	options = !libtool
	source = http://megatools.megous.com/builds/megatools-1.10.2.tar.gz
	sha256sums = 179e84c68e24696c171238a72bcfe5e28198e4c4e9f9043704f36e5c0b17c38a

pkgname = megatools

