[Desktop Entry]
Name=TrustedQSL
Comment=Sign QSO data for upload to LoTW
Exec=tqsl %F
Icon=TrustedQSL
Terminal=false
Type=Application
Categories=HamRadio
