# NOTE: This I2P config file must use UTF-8 encoding
# * i2cp: allows java clients to communicate with I2P outside of the JVM. Disabled.
# * IPv6: Disabled
# * In-I2P Network Updates: Disabled
i2cp.disableInterface=true
i2np.ntcp.ipv6=false
i2np.udp.ipv6=false
i2np.udp.addressSources=hidden
router.updateDisabled=true
routerconsole.advanced=true
i2np.upnp.enable=false
