[Desktop Entry]
Name=PulseAudio Volume Meter (Playback)
GenericName=Playback Volume Meter
Comment=Monitor the output volume
Exec=pavumeter
Icon=/usr/share/icons/gnome/24x24/devices/audio-input-microphone.png
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;
